@font-face{font-family:'HelveticaNeueLTStd-Roman';src:url('fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueLTStd-Roman.otf') format('opentype'), url('fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'HelveticaNeueLTStd-Lt';src:url('fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueLTStd-Lt.otf') format('opentype'), url('fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'HelveticaNeueLTStd-Th';src:url('fonts/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueLTStd-Th.otf') format('opentype'), url('fonts/HelveticaNeueLTStd-Th.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Th.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-Th.svg#HelveticaNeueLTStd-Th') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'HelveticaNeueLTStd-Md';src:url('fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueLTStd-Md.otf') format('opentype'), url('fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'HelveticaNeueLTStd-Bd';src:url('fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueLTStd-Bd.otf') format('opentype'), url('fonts/HelveticaNeueLTStd-Bd.woff') fosirmat('woff'), url('fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'BebasNeueBold';src:url('fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeueBold.otf') format('opentype'),
url('fonts/BebasNeueBold.woff') format('woff'), url('fonts/BebasNeueBold.ttf') format('truetype'), url('fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'BEBASNEUEREGULAR';src:url('fonts/BEBASNEUEREGULAR_0.eot');src:url('fonts/BEBASNEUEREGULAR_0.eot') format('embedded-opentype'),
url('fonts/BEBASNEUEREGULAR_0.woff2') format('woff2'),
url('fonts/BEBASNEUEREGULAR_0.woff') format('woff'),
url('fonts/BEBASNEUEREGULAR_0.ttf') format('truetype'),
url('fonts/BEBASNEUEREGULAR_0.svg#BEBASNEUEREGULAR_0') format('svg');}
.gform_confirmation_message{color:#fff !important;}
.featured-post-title{font-family:'HelveticaNeueLTStd-Th';font-size:30px;text-transform:uppercase;padding-left:23px;}
.div-to-extend.open{transform:translateX(0);}
.div-to-extend{width:334px;transition:all .5s;position:absolute;top:-140px;text-align:center;right:0;transform:translateX(100%);color:#fff;z-index:998989898989;}
.Helvetica_Roman{font-family:'HelveticaNeueLTStd-Roman';}
.Helvetica_Light{font-family:'HelveticaNeueLTStd-Lt';}
.Helvetica_Thin{font-family:'HelveticaNeueLTStd-Th';}
.Helvetica_Medium{font-family:'HelveticaNeueLTStd-Md';}
.Helvetica_Bold{font-family:'HelveticaNeueLTStd-Bd';}
.BebasNeueBold{font-family:'BebasNeueBold';}
.BebasNeue_Regular{font-family:'BEBASNEUEREGULAR';}
.fullwidth{float:left;width:100%;position:relative;}
.site-content-contain{float:left;width:100%;position:relative;}
p{color:rgb(41, 41, 41);font-size:18px;}
h1{font-size:46px;}
.fs-14{font-size:14px;}
.fs-15{font-size:15px;}
.fs-16{font-size:16px;}
.fs-18{font-size:18px;}
.fs-21{font-size:21px;}
.fs-22{font-size:22px;}
.fs-24{font-size:24px;}
.fs-26{font-size:24px;}
.fs-36{font-size:36px;}
.fs-40{font-size:40px;}
.fs-42{font-size:42px;}
.fs-46{font-size:46px;}
.fs-60{font-size:60px;}
.focolor{color:rgb(41, 41, 41);}
.whcolor{color:rgb(255, 255, 255);}
.237color{color:rgb(237, 237, 237);}
.text-none{text-decoration:none;}
.list-none{list-style-type:none;}
.no-gutters{padding-left:0;padding-right:0;}
.no-guttersright{padding-right:0;}
.no-guttersleft{padding-left:0;}
body{background:#fff none repeat scroll 0 0;float:left;margin:0 auto;padding:0;width:100%;}
.single-post ul.sub-menu li a{color:#000 !important;}
.single-post .gform_wrapper form#gform_7{position:relative !important;}
.gform_wrapper .validation_message{color:#ff0000 !important;}
.categories-widget{list-style:none;padding-left:25px;}
.single-post .gform_wrapper .gform_footer input[type=image]{background:none !important;position:absolute;top:17px;right:11px;}
.color29{color:#292929;}
.date_published{font-style:italic;}
.search-result1, .search-result{text-align:left;padding:20px;display:none;background:#fff;max-height:150px;overflow-y:scroll;}
.search-result1 ul li, .search-result ul li{list-style:none;}
img.search-submit1{cursor:pointer;position:absolute;}
img.search-submit{cursor:pointer;position:absolute;top:36px;right:40px;}
.single-post .header{float:none;width:100%;position:relative;margin-top:15px;padding:0;}
.single-post #masthead{float:none;position:relative;width:100%;z-index:100;}
.home_videos{}
.home_videos iframe{}
.home_experts{}
.home_experts h2{color:rgb(238, 36, 36);line-height:39px;margin-bottom:10px;margin-top:22px;}
#form-slideout{right:0;top:15%;position:fixed;z-index:9088;color:#fff;}
.home_experts p{}
.home_experts h3 a{text-decoration:none;background:rgb(237, 22, 22);color:rgb(255, 255, 255);padding:15px 20px 8px;}
.popover-arrow:after{webkit-transform:rotate(45deg) translate(6px,6px);transform:rotate(496deg) translate(6px,6px);-webkit-box-shadow:-1px -1px 1px -1px rgba(0,0,0,.54);box-shadow:-1px -1px 1px -1px rgba(0,0,0,.54);content:'';width:12px;height:14px;background:rgb(72, 73, 83);position:absolute;}
.sticky-select{margin-bottom:10px;background:url(images/select-dropdown.png) no-repeat;background-position:97% 50%;padding:0 10px;background-color:#fff;overflow:hidden;height:30px;border:1px solid #000;position:relative;border-radius:0;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;font-family:'HelveticaNeueLTStd-Roman';width:100%;margin-top:15px;line-height:34px;}
.carousel-control-prev{left:-33px;}
.mobile-carousel-control-prev{left:-33px;}
.form-sec-prev{left:0;}
.mobile-carousel-control-next{right:-33px}
.carousel-control-next{right:-33px}
.form-sec-next{right:0;}
.margin_auto{margin:auto;}
.carousel-control-prev, .carousel-control-next,.mobile-carousel-control-prev, .mobile-carousel-control-next{position:absolute;z-index:99;height:37px;width:37px;top:33%;cursor:pointer;}
.form-sec-prev, .form-sec-next{z-index:99;height:40px;cursor:pointer;margin:auto;border:1px solid #e2e2e2;}
.speciality-video iframe{margin-bottom:0 !important;}
#submit_inv{background:rgb(237, 22, 22);width:100%;padding:10px;}
#submit_inv1{background:rgb(237, 22, 22);width:100%;padding:10px;}
.extend-content .gravity_holder{padding:5% 5% 5% 5%;}
.alert{margin-bottom:0;color:#fff;}
.popover-arrow{position:absolute;top:50%;right:0;clip:rect(0 18px 14px -4px);}
.div-to-extend .gform_wrapper .top_label .gfield_label{display:none !important;}
.floating-btns{position:fixed;top:25%;right:0;z-index:999999999;}
.extend-content .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container{margin-top:5px;}
.extend-content .gform_wrapper textarea.medium{margin-bottom:10px !important}
.extend-content .gravity_holder ul li{padding:0 !important}
a.close-extend{position:absolute;right:100%;top:0;padding:4px 12px;color:#fff;background:rgb(238,36,36);font-size:20px;cursor:pointer;display:none;}
.open a.close-extend{display:block;}
.floating-btns > a{display:block}
.specialied_care{background:url("images/Cares-bg.jpg");background-repeat:no-repeat;background-size:cover;background-attachment:fixed;}
.diabetescare{background:url("images/Diabetes-Care.png") no-repeat right;height:75px;}
.specialised{background:url("images/Specialised-Diabetes.png") no-repeat right;height:80px;}
.homecare{background:url("images/Homecare.png") no-repeat right;height:75px;}
.precision{background:url("images/Precision.png") no-repeat right;height:75px;}
.international{background:url("images/International.png") no-repeat right;height:75px;}
.onlineproducts{background:url("images/Onlineproducts.png") no-repeat right;height:55px;}
.specialied_care h1{color:rgb(255, 255, 255);}
.specialied_care h2{color:rgb(255, 255, 255);}
.specialied_care p{color:rgb(255, 255, 255);}
.diabetes_care{padding:3rem 0;}
.diabetes_care h1{color:rgb(0, 0, 0);margin-top:0;}
.diabetes_care h2{}
.diabetes_care .services_icons{min-height:188px;}
.diabetes_care .services_icons li{height:70px;padding:70px 0 0 0;list-style-type:none;border:1px solid #b4b4b4;border-radius:10px;}
.pd-tb40{padding:34px 0;}
.diabetes_care .services_icons li span{font-size:12px}
.floating-btns a:hover{background-position:0 0px !important;}
.floating-btns a{background-position:0 -72px !important;}
.floating-btns a.book-appointment:hover{background-position:2px 0px !important;}
.floating-btns a.book-appointment{width:83px;height:71px;background:url("images/book-app-sprite.png") no-repeat;background-position:2px -72px !important;}
.floating-btns a.location{width:82px;height:73px;background:url("images/location-sprite.png") no-repeat;}
.floating-btns a.enquire{width:82px;height:73px;background:url("images/enquire-now-sprite.png") no-repeat;}
.floating-btns a.search{width:82px;height:73px;background:url("images/search.png") no-repeat;}
.form-slideout-mobile a{margin-right:1px;}
.form-slideout-mobile a.book-appointment{padding:52px 35px !important;background:#fff;width:83px;height:71px;background:url("images/book-appointment.png") no-repeat center top;margin-bottom:2px;}
.form-slideout-mobile a.location{padding:52px 35px !important;background:#fff;width:82px;height:73px;background:url("images/location.png") no-repeat center top;}
.form-slideout-mobile a.enquire{padding:52px 35px !important;background:#fff;width:82px;height:73px;background:url("images/enquire.png") no-repeat center top;}
.form-slideout-mobile a.search{padding:52px 35px !important;background:#fff;width:82px;height:73px;background:url("images/search-sticky.png") no-repeat center top;}
.form-slideout-mobile a.book-appointment:hover{background:#fff;width:83px;height:71px;background:url("images/book-app-hover.png") no-repeat center top;margin-bottom:2px;}
.form-slideout-mobile a.location:hover{background:#fff;width:82px;height:73px;background:url("images/location-hover.png") no-repeat center top;}
.form-slideout-mobile a.enquire:hover{background:#fff;width:82px;height:73px;background:url("images/enquire-hover.png") no-repeat center top;}
.form-slideout-mobile a.search:hover{background:#fff;width:82px;height:73px;background:url("images/search-hover.png") no-repeat center top;}
.sticky-a.active{}
.diabetes_care ul{padding:43px 0;margin-bottom:50px;}
.diabetes_care ul li{list-style-type:none;}
.diabetes_care ul li.services_lists{line-height:30px;}
.diabetes_care ul.services_lists li:before{border-color:transparent #ed1616;border-style:solid;border-width:7px 0 7px 7px;content:"";display:block;height:0;left:-1rem;position:relative;top:1.3rem;width:0;}
.categories-widget ul{margin-left:0 !important;padding-top:10px;}
.knows_diabetes{background:url("images/forest-bg.jpg");background-repeat:no-repeat;background-position:bottom;background-size:cover;}
.knows_diabetes .understands{border-bottom:1px solid #ea4c4e;outline:1px solid #c2c3cb;min-height:150px;background:rgb(251, 251, 252,0.9);background-color:rgb(251, 251, 252,0.9);}
.knows_diabetes .understands h2{margin-bottom:8px;}
.knows_diabetes .understands p.focolor{min-height:55px;}
.featured-post a.featured-readmore, .knows_diabetes .understands p a{border-bottom:2px solid #ed1616;position:relative}
.journey{background:url("images/journeys-bg.png");background-repeat:no-repeat;background-size:cover;}
.journey h1{line-height:39px !important;margin-top:12px !important;font-size:33px !important;}
.shops{}
.shops .research, .shops .cart, .shops .tracker_app{background:rgb(72, 73, 83);padding:10px;}
.shops .borders_stuff{border:1px solid #ffffff;}
.shops .research h2{background:url("images/research.png") no-repeat center bottom;min-height:175px;}
.shops .cart h2{background:url("images/cart.png") no-repeat center bottom;min-height:175px;}
.shops .tracker_app h2{background:url("images/tracker-app.png") no-repeat center bottom;min-height:175px;}
.shops p{background:rgb(237, 22, 22);padding:5px 0;}
.experts_care{padding:5.5rem 0;}
.specialied_care{padding:2rem 0 0 0;}
.knows_diabetes{padding:1rem 0 2rem;}
.journey{padding:1rem 0 1rem 0;}
.shops{padding:2.5rem 0;}
.footer{background:rgb(48,49, 49);}
.footer h1{color:rgb(179, 181, 181);font-size:24px;font-family:'BebasNeueBold';}
.footer p{color:rgb(179, 181, 181);font-size:14px;font-family:'HelveticaNeueLTStd-Lt';margin:0 auto;padding:0;line-height:25px;}
.featured-post a.featured-readmore, .knows_diabetes .understands p a:hover{border:none;transition:transform 0.4s;}
.footer ul{}
.footer ul li{color:rgb(179, 181, 181);font-size:14px;font-family:'HelveticaNeueLTStd-Lt';line-height:25px;}
.footer ul.socials{list-style-type:none;padding:0;display:inline-block;text-align:center;}
.footer ul.socials li{display:inline-block;text-align:center;padding:0 0 0 11px;}
.footer ul.socials li i{font-size:32px !important;}
.footer ul.socials .fa-facebook-f:hover{color:#3b5998}
.footer ul.socials .fa-twitter:hover{color:#55acee}
.footer ul.socials .fa-linkedin:hover{color:#0077B5}
.footer ul.socials .fa-google-plus:hover{color:#d34836}
.footer ul.socials .fa-youtube:hover{color:#ff0000}
.contact-loc-split{position:relative;}
.contact-loc-split:before{content:'';position:absolute;width:1px;height:96%;background:rgb(238,36,36);right:0}
.footer ul li a, .footer p a{color:rgb(179, 181, 181);font-size:14px;font-family:'HelveticaNeueLTStd-Lt';}
.footer_last .terms ul{list-style-type:none;padding:0;display:inline-block;margin:5px auto;}
.footer_last .terms ul li{border-right:1px solid #303131;display:inline-block;line-height:10px;list-style-type:none;margin:0 auto;padding:0 6px 0 6px;text-align:center;font-family:'HelveticaNeueLTStd-Lt';font-size:14px;}
.footer_last .terms ul li:last-child{border-right:0px none;}
.footer_last .terms ul li a{color:rgb(48,49, 49);font-family:'HelveticaNeueLTStd-Lt';font-size:14px;}
.footer_last p, .footer_last p a{color:rgb(48,49, 49);font-family:'HelveticaNeueLTStd-Lt';font-size:14px;}
.home #masthead{float:left;position:absolute;width:100%;z-index:100;}
.header{background:rgb(255,255,255,0.6);;float:left;width:100%;position:relative;margin-top:15px;padding:0;}
#masthead{float:left;position:absolute;width:100%;z-index:100;}
.swiper-container{float:left;width:100%;position:relative;}
ul.menu li a{letter-spacing:0px;color:#000;font-family:'BEBASNEUEREGULAR';font-size:18px;text-transform:uppercase;padding-right:10px !important;padding-left:10px !important}
ul.menu li a:hover{color:#fff;}
.header_logo{float:left;padding-top:10px;}
.choose_journey{padding-top:9px;margin:-17px 0px 10px 0;}
.margin-0{margin:0;}
.choose_journey button, .choose_journey button:hover , .choose_journey button:active{background:rgb(237, 22, 22);font-size:21px;font-family:'HelveticaNeueLTStd-Roman';font-weight:normal;line-height:30px;padding:5px 9px 2px;border-radius:0px;box-shadow:none;border:none;}
.choose_journey .caret{background:rgb(237, 22, 22) url("images/dropdown-caret.png");float:right;height:20px;margin:5px auto 0 10px;width:25px;}
.choose_journey ul{background:#fff;padding:5px 3px;filter:alpha(opacity=80);-ms-filter:8"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";color:#000;}
.choose_journey ul li:hover{background:rgb(237, 22, 22);filter:alpha(opacity=80);-ms-filter:8"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";color:#000}
.choose_journey ul li:hover{color:#fff !important;}
.choose_journey ul li a:hover{color:#fff;font-weight:lighter}
.choose_journey ul li a{color:#000;font-size:19px;font-family:'HelveticaNeueLTStd-Roman';padding-left:11px;padding-right:11px;}
.colorfff{color:#fff;}
.lbl-title{font-weight:lighter !important;line-height:1.4;margin:0 0 0.75em;}
.border-bottom-red{border-bottom:2px solid #e24545;}
.blogs_sidebar{background:rgb(237, 238, 242);float:left;width:100%;position:relative;}
.blogs{background:rgb(237, 238, 242);padding-left:4%;padding-bottom:50px;}
.blog_sidebar{background:rgb(222, 223, 230);}
.blogs img{max-width:100%;border-bottom:1px solid #e24545;border-left:1px solid #c7c8cb;border-top:1px solid #c7c8cb;border-right:1px solid #c7c8cb;outline:1px solid #c7c8cb;}
.zoom, .cat-thumb{transition:transform .2s;}
.zoom:hover, .cat-thumb:hover{transform:scale(1.1);}
.blogs h1{font-family:'HelveticaNeueLTStd-Th';color:rgb(0, 0, 0);font-size:30px;float:left;width:100%;padding-top:3rem !important;}
.blogs h2{font-family:'HelveticaNeueLTStd-Th';color:rgb(0, 0, 0);font-size:30px;width:100%;padding-top:2rem !important;}
.blogs h3{font-family:'HelveticaNeueLTStd-Bd';color:rgb(41, 41, 41);font-size:22px;color:rgb(41, 41, 41);margin:0 auto;padding-top:25px !important;width:100%;}
.blogs h4{float:left;margin:0 auto;padding:3px 23% 0 0!important;width:100%;font-family:'HelveticaNeueLTStd-Lt';color:rgb(41, 41, 41);font-size:18px;font-weight:normal !important;background:url(images/blog-readmore.png) no-repeat 86% 48%;}
.blog-rightpanel h1{padding-top:45px !important;}
.blogs h4 span{color:rgb(237, 65, 66);float:right;font-weight:bold;text-align:right;}
.blogs h5{padding:0!important;}
.blogs .blogs_article{float:left;}
.blogs_cares{margin:0 auto;}
.carousel-caption{left:9%;right:auto;top:34%;}
.carousel-caption h1, .carousel-caption h3, .carousel-caption h4, .carousel-caption h5{padding:0;margin:0 auto;color:rgb(29, 46, 52);line-height:50px;}
.carousel-caption h1{}
.carousel-caption h2{line-height:42px;}
.carousel-caption h3{line-height:37px;font-family:'HelveticaNeueLTStd-Th';}
.carousel-caption h4{}
.carousel-caption h5{background:rgb(237, 22, 22);float:right;padding:0 10%;width:auto;text-transform:capitalize;}
.wow{visibility:hidden;}
.book_appintment{background:rgb(72, 73, 83);float:left;margin:0 auto;padding:3%;width:100%;}
.gravity_holder{border:2px solid #ffffff;float:left;margin:0 auto;padding:0;width:100%;padding:5% 5% 0% 5%;}
.book_appintment label.lbl-title{font-family:'HelveticaNeueLTStd-Bd';color:rgb(255, 255, 255);padding-left:0 !important}
.book_appintment h2{color:rgb(235, 235, 235);}
.gravity_holder ul{}
.gravity_holder ul li{padding:0 0 15px !important;margin:0 auto !important;width:100%;float:left;clear:both;}
.gravity_holder ul li.hide_label label, .gravity_holder ul li label span, .gravity_holder .validation_error{display:none !important;}
.gravity_holder ul li input[type="text"], .gravity_holder ul li input[type="email"], .gravity_holder ul li input[type="tel"], .gravity_holder ul li select{color:rgb(145, 145, 145) !important;font-size:14px !important;font-family:'HelveticaNeueLTStd-Roman';border:1px solid #b2b2b2 !important;border-radius:0 !important;padding:5px 0 3px 10px !important;width:100% !important;}
.gravity_holder ul li select option, .gravity_holder ul li .chosen-container .chosen-single{background:rgb(255, 255, 255) !important;border:0 solid #b2b2b2 !important;border-radius:0 !important;color:rgb(145, 145, 145) !important;font-family:"HelveticaNeueLTStd-Roman";font-size:14px !important;line-height:18px !important;min-height:26px;padding:5px 0 3px 10px !important;}
.gravity_holder ul li label{color:rgb(255, 255, 255) !important;font-family:'HelveticaNeueLTStd-Roman' !important;font-size:14px !important;margin:0 auto !important;padding:0 !important;}
.gravity_holder ul li#field_1_6 ul li{float:left;width:45%;clear:none;margin:5px auto !important;}
.gravity_holder ul li#field_1_6 ul li input[type="radio"]{margin:0 5px 0 auto !important;}
.gravity_holder .gform_footer{padding:0 !important;margin:0 auto !important;background:rgb(237, 22, 22) none repeat scroll 0 0;text-align:center;}
.gravity_holder .gform_footer .gform_button{font-family:'HelveticaNeueLTStd-Md' !important;font-size:18px !important;background:rgb(237, 22, 22) !important;color:rgb(255, 255, 255);padding:4% 0;width:100% !important;}
.gravity_holder #gform_wrapper_8 .gform_footer .gform_button{padding:2% 0;}
.chosen-container .chosen-results li{background:rgb(255, 255, 255) !important;border:0 solid #b2b2b2 !important;border-radius:0 !important;color:rgb(145, 145, 145) !important;font-family:'HelveticaNeueLTStd-Roman';font-size:14px !important;line-height:18px !important;padding:5px 0 3px 10px !important;}
.gform_wrapper .top_label .gfield_label{display:none !important;}
a, .cur-pointer{cursor:pointer;}
.gform_wrapper .chosen-container{width:100% !important;}
.gravity_holder ul li.calander_icons input[type="text"]{width:85% !important;}
.gravity_holder ul li.calander_icons img.ui-datepicker-trigger{display:inline-block;height:33px !important;width:35px !important;}
.gravity_holder li.gfield.gfield_error, .gravity_holder li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{background:transparent !important;border:0px none !important;margin:0 auto !important;}
.gravity_holder li.gfield.gfield_error.gfield_contains_required div.gfield_description{color:rgb(145, 145, 145) !important;font-family:'HelveticaNeueLTStd-Roman';font-size:14px !important;padding:0 !important;margin:0 auto !important;}
::-webkit-input-placeholder{color:rgb(145, 145, 145) !important;font-size:14px !important;font-family:'HelveticaNeueLTStd-Roman' !important;padding:0 0 0 10px !important;}
:-ms-input-placeholder{color:rgb(145, 145, 145) !important;font-size:14px !important;font-family:'HelveticaNeueLTStd-Roman' !important;padding:0 0 0 10px !important;}
::-moz-placeholder{color:rgb(145, 145, 145) !important;font-size:14px !important;font-family:'HelveticaNeueLTStd-Roman' !important;padding:0 0 0 10px !important;}
:-moz-placeholder{color:rgb(145, 145, 145) !important;font-size:14px !important;font-family:'HelveticaNeueLTStd-Roman' !important;padding:0 0 0 10px !important;}
.locationslist{}
.locationslist_sidebar{background:rgb(237, 238, 242);padding:4% 0;}
.addresslist{padding:0 0 8% 0;}
.locationslist h1{font-size:22px;color:rgb(41, 41, 41);font-family:'HelveticaNeueLTStd-Bd';text-transform:uppercase;padding:0 0 1% 0;margin:0 auto;}
.locationslist p{font-size:18px;color:rgb(72, 73, 83);font-family:'HelveticaNeueLTStd-Lt';padding:0;margin:0 auto;line-height:25px;}
.locationslist p a{color:rgb(0, 0, 0);}
.locationslist p.readmore{background:rgb(237, 22, 22);color:rgb(255, 255, 255);text-align:center;margin:2% 0 0 0;padding:6px 20px 0px;float:left;width:auto;font-family:'HelveticaNeueLTStd-Bd';font-size:18px;}
.locationslist p.readmore a{color:rgb(255, 255, 255);}
.locations_view{}
.centers_count{}
.locations_view h1{font-size:30px;color:rgb(72, 73, 83);font-family:'HelveticaNeueLTStd-Bd';text-transform:uppercase;padding:0 0 5px 0;margin:0 auto;}
.locations_view h2{font-size:22px;color:rgb(72, 73, 83);font-family:'HelveticaNeueLTStd-Bd';text-transform:uppercase;padding:0;margin:0 auto;}
.locations_view h2, .locations_view h3, .locations_view h4{font-size:22px;color:rgb(72, 73, 83);font-family:'HelveticaNeueLTStd-Bd';text-transform:uppercase;padding:0;margin:0 auto;}
.locations_view p{font-size:18px;color:rgb(72, 73, 83);font-family:'HelveticaNeueLTStd-Lt';padding:0;margin:0 auto;line-height:25px;}
.locations_view p a{color:rgb(0, 0, 0);}
.address{padding:1rem 0 1.5rem 0;}
.timings{padding:1rem 0 1.5rem 0;}
.landmarks{padding:1rem 0 1.5rem 0;}
.nearby_places{padding:1rem 0 1.5rem 0;}
.locview_sidebar{}
.locationsview_icons{background:rgb(237, 238, 242);padding:4% 0;}
.bg-dl-grey{background:#dedfe6;}
.para-feature{font-size:24px;letter-spacing:0px;color:rgb(41,41,41);margin-left:23px;margin-right:10px;margin-top:54px;}
.car-blogs p{font-size:22px;letter-spacing:0px;color:rgb(41,41,41);line-height:28px;}
.featured-post{background:#fff;padding:25px;margin:23px;border-bottom:1px solid #ed1515;box-shadow:0px 0px 1px 0px #8a8181;}
.btn-blog:hover{background:#fff;color:#ed1616 !important;}
.btn-blog{background:#ed1616;color:#fff !important;border:1px solid #ed1515;font-size:19px !important;margin-bottom:0;}
.blog-bannertext{background:rgba(255,255,255,0.5);}
li.categories li.cat-item{text-transform:none;font-family:'HelveticaNeueLTStd-Lt';padding:2px 0 !important;list-style:none;font-size:18px;}
li.categories{list-style:none;text-transform:uppercase;font-family:'HelveticaNeueLTStd-Bd';padding:40px 0 0 0 !important;}
li.categories, .featured-post .featured-title{font-size:22px;line-height:27px;color:rgb(41,41,41);}
.featured-post .featured-content{font-size:18px;line-height:24px;color:rgb(41,41,41);margin-bottom:10px;}
.featured-post a.featured-readmore{font-size:18px;letter-spacing:0px;line-height:24px;color:rgb(41,41,41);text-decoration:none;border-bottom:2px solid #ed1515;}
h1.understand-ur-diabetes{margin-top:34px;margin-bottom:-10px;}
ul#menu-main-menu li.menu-item-90 ul.sub-menu{}
.spec-img img{}
.form-slideout-mobile{display:none;}
.blog-rightpanel h1{padding-top:46px;padding-left:22px;}
.blogs_article h3{}
.diabetes_care.blogs-icons-part ul{padding:10px 0;margin-bottom:0;}
.abt-us-services-offered-li label{margin-top:10px;width:128px;}
.abt-us-services-offered-li{display:inline-block;padding:0 25px;vertical-align:top;}
.title-4l{font-weight:lighter;}
.title-40k{margin-top:17px !important;width:140px;margin:auto;color:rgb(41, 41, 41);font-size:12px;font-family:'HelveticaNeueLTStd-Lt';font-weight:lighter;}
.padd-top-bottom-70{padding-bottom:70px !important;padding-top:70px !important;}
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select{background:url(images/select-dropdown.png) no-repeat;background-position:97% 50%;padding:0 10px;background-color:#fff;overflow:hidden;height:31px;padding-left:20px !important;border:1px solid #000;position:relative;border-radius:0;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;font-family:'HelveticaNeueLTStd-Roman';width:100%;}
.hp-slide-arr.home-mobile-swiper-button-next{right:10px;}
.hp-slide-arr.home-mobile-swiper-button-prev{left:10px;}
.hp-slide-arr.home-swiper-button-next{right:10px;}
.hp-slide-arr.home-swiper-button-prev{left:10px;}
.hp-slide-arr{z-index:999999999;color:#fff !important;cursor:pointer;position:absolute;top:50%}
.car-blogs{padding:20px;background:rgba(255,255,255,0.8);}
h1.page-title{font-family:'HelveticaNeueLTStd-Th';color:rgb(0, 0, 0);font-size:30px;padding-top:3rem !important;}
h3.category-title{font-family:'HelveticaNeueLTStd-Bd';color:rgb(41, 41, 41);margin:0 auto;padding-top:25px !important;}
.category-excerpt{margin:0 auto;padding:3px 23% 0 0!important;font-family:'HelveticaNeueLTStd-Lt';color:rgb(41, 41, 41);font-size:18px;font-weight:normal !important;background:url(images/blog-readmore.png) no-repeat 86% 48%;}
.cat-thumb{max-width:100%;border-bottom:1px solid #e24545;border-left:1px solid #c7c8cb;border-top:1px solid #c7c8cb;border-right:1px solid #c7c8cb;outline:1px solid #c7c8cb;}
.bg-lgrey{background:#edeef2;}
.address p a, .addresslist p a{text-transform:none;}
.home_experts h3 a:hover{color:#242424;box-shadow:1px 0px 1px 2px #d0cfcf;}
.gravity_holder .gform_footer .gform_button:hover{color:#242424;}
.address p, .addresslist p{text-transform:capitalize;}
.gravity_holder .gform_wrapper li.gfield.gfield_error{margin-bottom:0 !important;}
.categories-widget a:hover, .hover-border:hover{border:none;}
.categories-widget a, .hover-border{position:relative;}
.categories-widget a:hover:after, .hover-border:hover:after{transform-origin:bottom left;transform:scaleX(1);}
.categories-widget a:after, .hover-border:after{content:'';position:absolute;width:100%;height:2px;bottom:-2px;left:0;background-color:#E2061B;transform:scaleX(0);transform-origin:bottom right;transition:transform 0.4s;}
.btn3:hover{border-color:#c75842;transition:border-color 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);}
.btn3:hover:before, .btn3:link:hover:before, .btn3:visited:hover:before{left:-2px;right:auto;}
.btn3:hover:after, .btn3:hover:before, .btn3:link:hover:after, .btn3:link:hover:before, .btn3:visited:hover:after, .btn3:visited:hover:before{right:-2px;transition:all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);}
.btn3:after, .btn3:before, .btn3:link:after, .btn3:link:before, .btn3:visited:after, .btn3:visited:before{content:"";position:absolute;left:-1em;top:-2px;height:3.3em;width:0;border:1px solid #c75842;transition:inherit;}
.btn3:hover, .btn3:link:hover, .btn3:visited:hover{border-color:#c75842;transition:border-color 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);}
.btn3, .btn3:link, .btn3:visited{color:#333;font-size:.8em;letter-spacing:.1em;text-transform:uppercase;min-width:100px;max-width:60%;position:relative;margin:0 auto;border:2px solid transparent;transition:all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);}
a.btn3{padding:15px 30px;text-decoration:none;font-size:18px;display:block;margin:20px auto;}
.btn3:after, .btn3:link:after, .btn3:visited:after{left:auto;right:-1em;}
.btn3:after, .btn3:before, .btn3:link:after, .btn3:link:before, .btn3:visited:after, .btn3:visited:before{content:"";position:absolute;left:-1em;top:-2px;height:3.3em;width:0;border:1px solid #c75842;transition:inherit;}
.main-navigation #menu-item-554 ul.sub-menu li ul.sub-menu{background:rgba(36, 41, 43,0.4) !important;}
.breadcrumb{background:none;padding:0;margin-bottom:0;}
#breadcrumbs{padding-top:10px !important;margin-bottom:0 !important;}
.breadcrumb_last{color:#ed1616;}
.esteemed_corp_clients .corporates{}
.esteemed_corp_clients{padding:30px;background:#484953;color:#fff;}
@media only screen and (min-width:768px){#esteemed_corp_clients .modal-dialog, #esteemed_ins_clients .modal-dialog{max-width:720px;}
.cp-loc{padding-left:30px;}
.cat-leftbar{padding-left:4%}
.car-blogs{left:auto;bottom:3%;right:8%;position:absolute;max-height:225px;}
.spec-img{margin-top:-4px;padding:0 !important;text-align:right;}
.spec-content{padding-right:0 !important;padding-left:10px !important;}
.arrange-nav{width:181px;float:left;}
#menu-item-554 ul.sub-menu li:hover ul.sub-menu{}
#menu-item-554 ul.sub-menu ul.sub-menu{width:154px;}
#menu-item-554 ul.sub-menu{width:290%;}
ul.sub-menu{width:200%;border:2px solid #51b8f2;padding:10% 0;}
.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul{left:0 !important;}
.main-navigation ul ul li a{font-size:16px !important;padding:0px 10px 0 33px !important;border-bottom:none;}
.main-navigation ul ul{background:rgba(255, 255, 255,0.9) !important;}
.header_menus li#menu-item-19 ul li,.header_menus li#menu-item-21 ul li{height:auto;}
.main-navigation li li.focus > a, .main-navigation li li:focus > a, .main-navigation li li:hover > a, .main-navigation li li a:hover, .main-navigation li li a:focus, .main-navigation li li.current_page_item a:hover, .main-navigation li li.current-menu-item a:hover, .main-navigation li li.current_page_item a:focus, .main-navigation li li.current-menu-item a:focus{color:#ed1515 !important;}
li#menu-item-22 ul.sub-menu,li#menu-item-23 ul.sub-menu{width:233px;}
.main-navigation #menu-item-554 ul.sub-menu li:hover ul.sub-menu a{padding:0 10px !important}
.main-navigation #menu-item-554 ul.sub-menu #menu-item-566:hover ul.sub-menu, .main-navigation #menu-item-554 ul.sub-menu #menu-item-576:hover ul.sub-menu, .main-navigation #menu-item-554 ul.sub-menu #menu-item-572:hover ul.sub-menu{right:-89% !important;left:auto !important;}
.main-navigation #menu-item-554 ul.sub-menu li ul.sub-menu a:hover{color:#ed1616 !important;}
.main-navigation #menu-item-554 ul.sub-menu li ul.sub-menu a{color:#fff !important;}
.main-navigation #menu-item-554 ul.sub-menu li:hover ul.sub-menu{left:-88% !important;top:-30% !important;-prefixes-transition-duration:.4s, 0s;-prefixes-transition-delay:0s, .4s;}
.main-navigation ul.sub-menu ul.sub-menu .menu-item{width:150px}
.main-navigation ul.sub-menu ul.sub-menu{width:154px;padding:10px 0 !important;float:left;top:102%;-prefixes-transition-duration:.4s, 0s;-prefixes-transition-delay:0s, .4s;}
li#menu-item-1800:hover .sub-menu, li#menu-item-1800.focus .sub-menu{right:0 !important;left:auto !important;}
li#menu-item-20:hover .sub-menu, li#menu-item-20.focus .sub-menu,li#menu-item-21:hover .sub-menu, li#menu-item-21.focus .sub-menu,li#menu-item-23:hover .sub-menu, li#menu-item-23.focus .sub-menu,li#menu-item-91:hover .sub-menu, li#menu-item-91.focus .sub-menu{left:auto !important;right:0 !important;}
.header_menus ul.sub-menu li{height:30px;}
.main-navigation ul ul .menu-item-has-children > a > .icon, .main-navigation ul ul .page_item_has_children > a > .icon{transform:rotate(0) !important;}
.menu-item ul.sub-menu ul.sub-menu > svg{display:block !important;}
#menu-item-2051 svg,#menu-item-19 svg,#menu-item-20 svg,#menu-item-21 svg,#menu-item-91 svg,#menu-item-92 svg,#menu-item-23 svg,#menu-item-554 svg,#menu-item-1800 svg{}
.header_menus{float:right;}
.header_menus ul{float:right;width:100%:}
.header_menus ul > li{margin:0 20px 0 0;padding:20px 0 0 5px;height:60px;}
.header_menus ul li:last-child, .header_menus ul li:last-child a{padding-right:0;margin-right:0;}
.header_menus ul li:hover{border-bottom:2px solid #ed1616;background:rgba(36, 41, 43,0.4)}
.main-navigation ul ul li{border-right:2px dashed #e2e2e2;}
.main-navigation ul ul li a:hover{color:#ed1515;}
.main-navigation ul.sub-menu{width:578px;float:left;padding:20px 0;}
.margin-lr-auto{margin-left:auto;margin-right:auto;}
.main-navigation ul.sub-menu .menu-item a{width:auto;}
.header_menus ul ul li:hover{background:none;border-bottom:none;}
.main-navigation ul.sub-menu .menu-item{width:178px;height:auto;margin-right:0;float:left;}
.main-navigation .page_item_has_children > a > .icon{display:none !important;}
.lg-pd-0{padding-right:0 !important;padding-left:0 !important;}
.diabetes_care .services_icons li{width:15%;max-width:15%;margin:0 5% 0 0;}
.diabetescare{height:75px;}
.specialised{height:80px;}
.homecare{height:75px;}
.precision{height:75px;}
.international{height:75px;}
.onlineproducts{height:55px;}
}
.swiper-slide.hidden-sm-up{display:none;}
@media only screen and (max-width:767px){.knows_diabetes .understands{background:#fff;}
.carousel-caption.readers-blog h1{font-size:28px !important;}
.carousel-caption.readers-blog{top:8% !important;left:4%;height:200px}
.menu-main-navigations-container{background:#fff;position:absolute;width:100%;}
.js .menu-toggle{float:right}
.header{margin-bottom:5px;}
.header_logo >a{float:left}
.header_logo{margin-top:auto !important;margin-bottom:auto !important;padding-top:0;}
.sm-p-b0{padding-bottom:0 !important}
.title-40k{margin-bottom:30px !important;margin-top:10px !important;}
.padd-top-bottom-70{padding-bottom:40px !important;padding-top:40px !important;}
.abt-us-services-offered-li label{margin-left:auto;margin-right:auto;margin-bottom:15px;}
.abt-us-services-offered-li{display:block;}
.sticky-a{width:65px;}
.gravity_holder .gform_footer .gform_button{padding:1% 0;}
.modal #input_2_6{height:50px}
.modal .gform_wrapper .top_label .gfield_label{display:none;}
body .modal .gform_wrapper .top_label div.ginput_container{margin-top:0}
.modal.book_appintment{background:rgb(72, 73, 83);float:none;padding:0;}
.form-sec-next{margin-left:10px !important;}
.form-sec-prev, .form-sec-next{margin-bottom:40px !important;height:29px;}
.header_menus{}
.main-navigation ul.sub-menu{border-bottom:2px solid #ed1515 !important;}
.menu-item .dropdown-toggle::after{display:none;}
.car-blogs{position:relative;border:2px solid #ed1616;margin:20px auto;}
.diabetescare{background-position:center;}
.specialied_care{background-position:center}
.diabetescare{background-position:center}
.specialised{background-position:center}
.homecare{background-position:center}
.precision{background-position:center}
.international{background-position:center}
.onlineproducts{background-position:center}
.sm-center,.specialied_care p{text-align:center;}
.colorfff{color:#fff !important;}
.close{font-size:19px;position:absolute;right:18px;top:18px;}
.carousel-control-next, .carousel-control-prev{opacity:1 !important;}
.diabetes_care .services_icons li.hp-hand{background-position:top;}
.diabetes_care .services_icons li.hp-notepad{background-position:top;}
.diabetes_care .services_icons li.bg-ham{background-position:top;}
.diabetes_care .services_icons li.mobile-icon{background-position:top;}
.diabetes_care .services_icons li.hp-milk{background-position:top;}
.diabetes_care .services_icons li.quick{background-position:top;}
.diabetes_care .services_icons li.curing{background-position:top;}
.diabetes_care .services_icons li.surgeons{background-position:top;}
.diabetes_care .services_icons li.tag{background-position:top;}
.diabetes_care .services_icons li.bottle{background-position:top;}
.diabetes_care .services_icons li.topnotch{background-position:top;}
.diabetes_care .services_icons li.allcenters{background-position:top;}
.diabetes_care ul.services_icons1{padding-bottom:0;margin-bottom:0;}
.knows_diabetes{background-repeat:no-repeat !important;background-position:bottom !important;background-color:#a4d2e2;}
.carousel-caption{top:26% !important;}
.carousel-caption h5{padding:10px 42px !important;}
.carousel-caption h1{line-height:40px !important;}
.carousel-caption h3{line-height:38px !important;}
.swiper-container.hidden-sm-down{display:none;}
.swiper-slide.hidden-sm-up{display:block;}
.form-slideout{display:none !important;}
.form-slideout-mobile{text-align:center;display:block !important;position:fixed !important;bottom:0;z-index:9999;background:#fff;width:100%;}
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit]{margin:0 !important;}
.footer_last p, .footer_last p a{text-align:center;}
.diabetes_care .services_icons li{height:auto;margin:10px auto;}
.gravity_holder ul li.calander_icons input[type="text"]{width:80% !important;}
.gravity_holder ul li#field_1_6 ul li{width:50% !important;}
.header_menus{background:rgb(255,255,255,0.6);}
.main-navigation{}
.menu-toggle{color:#333 !important;font-family:'BEBASNEUEREGULAR';font-size:22px! important;padding:9px !important;}
ul.menu li a:hover{color:#ed1515;}
.menu-toggle .icon{top:0px !important}
.main-navigation ul{border:none !important}
.home #masthead{position:relative;}
#masthead{position:relative;}
.locations_banner h2{line-height:15px !important;font-size:15px !important;bottom:1% !important;}
.locations_banner h3{line-height:15px !important;font-size:17px !important;bottom:45% !important;}
.social_icons{padding-left:15px;}
.social_icons h1{text-align:left !important;margin-bottom:2% !important;padding-top:3% !important;}
.footer ul{float:left !important;}
.header_logo{text-align:center;}
.carousel-caption h1, .carousel-caption h2, .carousel-caption h3, .carousel-caption h4, .carousel-caption h5{line-height:22px;font-size:15px;}
.carousel-caption{top:5%;}
.carousel-caption h5 a{font-size:15px;}
}
@media(min-width:766px and max-width:425px){.blogs h4{background:url(images/blog-readmore.png) no-repeat 94% 48%;}
}
@media(max-width:767px){.sm-mt-10{margin-top:15px;}
.footer_last{margin-bottom:83px;}
}
@media(max-width:425px){.abt-us-services-offered-li label{margin-left:auto;margin-right:auto;margin-bottom:15px;}
.abt-us-services-offered-li{display:block;}
.home_videos iframe{height:auto;}
.fs-21{font-size:19px;}
.fs-42{font-size:37px;}
.fs-46{font-size:39px;}
.mobile-carousel-control-prev{left:27px;}
.mobile-carousel-control-next{right:0;}
.mobile-carousel-control-prev, .mobile-carousel-control-next{top:50%;}
.blogs h4{margin:0 auto 14px 0 !important;}
.no-guttersright{padding-left:0 !important;}
.blogs h2{padding-top:20px !important;}
.blogs .blogs_article{padding-bottom:34px;}
.no-guttersright{padding-left:0;}
}
@media only screen and (max-width:1200px){.specialied_care{background-repeat:repeat-y;background-position:center center;}
.home_experts h3 a{float:left;width:100%;text-align:center;}
.diabetes_care .services_icons li, .diabetes_care .services_icons li.allcenters{margin:10px auto;}
.knows_diabetes .understands{height:auto;margin:10px auto;}
.journey{background-repeat:repeat-y;background-position:center center;padding:1em 0;}
.knows_diabetes{background-repeat:repeat-y;background-position:center center;}
.home_experts h2{padding-top:2rem !important;}
}
@media only screen and (min-width:768px) and (max-width:1023px){.header_logo{text-align:center;}
}

.popup_form .modal-header { padding: 0px; margin: 0px auto; position: absolute; z-index: 999; border: 0px none; top: -20px; right: 10px; }
.popup_form .formclose_popup { margin: 0px auto; font-size: 15px; font-weight: normal; opacity: 1;filter: alpha(opacity=100); background: white; color: black; padding: 10px; border-radius: 26px; height: 30px; width: 30px; }
.popup_form .modal-body { padding: 0px; margin: 0px auto; }
.popup_form .modal-content { background : transparent !important; }
#onload { z-index : 9999 !important; }
.gravity_holder .gform_wrapper #input_13_9 {  display: inline-block;  width: 87% !important; }
#gform_wrapper_13 ul li #input_13_11, #gform_wrapper_3 ul li #input_3_11, #gform_wrapper_1 ul li #input_1_11 { float : left; }