.head-banner{
	background:url("images/new-dr-banner.jpg");height: 767px; background-size:cover;Width:100%;}
.tell ul li.call{background: url(images/tell.png) left center no-repeat;float: right;
    padding: 6px 40px;}
.tell ul{list-style-type:none;}

best-diabetes { margin: 7% 0;}
ul#gform_fields_1 {list-style-type: none;}
/*.gravity_holder {background: #fff;float: right;max-width: 300px;padding: 0;margin: 0 auto;border: 2px solid #dedede;}*/
.gravity_holder {
    background: #fff;
    float: right;
    max-width: 325px;
    padding:8px 20px;
    margin: 0 auto;
    border: 2px solid #dedede;
    position: absolute;
    z-index: 9999;
    RIGHT: 2%;
}
.gravity_holder h2 {text-align: center;padding: 3% 0;font-size: 18px;color: #ea2324;font-weight: bold;}

.gform_footer.top_label {text-align: center;margin: 5% 0;}
input#gform_submit_button_1 {
    width: 76%;
    background: #ed1616;
    border: 1px solid #ed1616;color: #fff;
	    padding: 3% 0%;
}
ul#input_1_4 {
    list-style-type: none;
}
hr {
    width: 73%;
    margin-top: 0 !important;
}
.gform_body {
    margin: 0 0 0 2%;
	font-size:13px !important;
}
 .gform_body ul#gform_fields_1 li#field_1_4 {
    padding: 4% 0 0 0;
}


ul#gform_fields_1 {
    list-style-type: none;
    float: left;
    width: 100%;
    padding: 0 !important;
    margin: 0 auto;
}
input#input_1_6 {
    width: 80%;
}

section.first-part {
    margin: 5% 0;
}
section.ours-help {
    background: #f3f8f9;padding: 0 0 5% 0;
}
.ours-help h1 {
    text-align: center;margin: 5% 0;padding: 5% 0;
}
.food-items h3{font-size:22px;}
.food-items p{font-size:12px;}
.food-items span {
    color: red;
    font-size: 12px;
}
.diet-foods{padding: 1% 1% 2% 2%;}
.Health-check span {
    color: red;
}
.last-part{
	background:url("images/footer-banner.jpg");height:480px;
}
.last-part h1 {
    text-align: center;
}
.swiper-text {
    margin: 7% 0 0 0;
}
.swiper-text p{
font-size: 16px;
padding: 0 10% 0 18%;}

.swiper-text span {
    font-size: 18px;
    padding: 0px 18%;
    float: right;
}

.carousel-control.right{background-image:none !important;}
.carousel-control.left{background-image:none !important;}

.operation  {
    margin: 0 0% 2% -20%;
    font-size: 14px;
}

section.Health-check {
    margin: 5% 0;
}
section.Health-check h1 {
    padding: 3% 0;
	font-size: 24px ;
}

.people-choice {
    margin: 4% 0;
}
.people-choice  p {
    padding: 11% 0 1% 11%;
    color: red;
    font-size: 25px;
}
section.footer {
    margin: 2% 0;
}
.beat p {
    float: right;
}section.first-part-cus {
    display: none;
}
@media only screen and (max-width: 767px) {

	.head-banner{
	background:url("images/mobilebanner2.jpg");height: auto; background-size:cover;Width:100%;}
	
	.tell ul li.call {
    float: left;
    margin: 4% 13%;}
   .header-side {
    text-align: center;}
section.first-part-cus {
    display: block;
}
.gravity_holder {width: 100% !important;}
.header-image {
    text-align: center;
}
.operation  {
	    text-align: center;
    margin: 0 auto !important;
}

.gravity_holder {
    background: #fff;
    float: right;
    max-width: none;
    padding: 0;
    margin: 5% auto;
    border: 2px solid #dedede;
   position: relative;
    RIGHT:0;
}
.sugar-center {
    margin: 9% 0;
}
.rice-img {
    text-align: center;
}
.food-items {
    text-align: center;
    padding-bottom: 4%;
}
.text-para {
    padding: 4% 0 0 8%;
}
.people-choice p {
    text-align: center;
}
.helping-img {
    text-align: center;
    
}	
.beat p {
    float: none;
}
.people-choice {
    margin: 0% 0 -5% -8%;
}
section.Health-check h1 {
    text-align: center;
    font-size: 25px;
}
.tips-img {
    text-align: center;
}
.best-diabetes h1 {
    text-align: center;
}
.testimonial img {
    margin: 0 13% !important;
}
.helping-img {

    margin: 0 10% 11% 2% !important;
    padding: 0 0% 0 0% !important;

}
.last-part h1 {
   font-size: 30px;
}
.swiper-text p {

    font-size: 12px;
    padding: 0 7% 0 15% !important;

}
.swiper-text span {

    font-size: 15px;
    padding: 0px 6% !important;
    float: right;

}
.operation {font-size: 12px;font-weight: bold;}
.best-diabetes h1{font-size: 19px !important;line-height: 25px !important;}

section.mobile-form {
    display: block !important;
}
section.mobile-button {
    display: none;
	position: fixed;
    z-index: 9999;
    float: left;
    width: 100%;
}
a.enqire {
    width: 50%;
    float: left;
    text-align: center;
    background: #2c296c;
    padding: 8px 0px;
    color: #fff;
    border-right: 1px solid #fff;
}
a.call {
    width: 50%;
    float: left;
    text-align: center;
    background: #2c296c;
    padding: 8px 0px;
    color: #fff;
    border-left: 1px solid #fff;
}
section.mobile-button {
    display: block !important;
}
.container-fluid1{padding-right: 0 !important;
padding-left: 0 !important;}
.form {
    margin-top: 22%;
}


}



.ginput_container.ginput_container_text input#input_1_1,input#input_1_8 {
    width: 100% !important;
}
.ginput_container.ginput_container_phone input#input_1_2 {
    width: 100% !important;
}
.ginput_container.ginput_container_email input#input_1_3 {
    width: 100% !important;
}
.ginput_container.ginput_container_select select#input_1_5,select#input_1_9 {
    width: 100% !important;
}
.ginput_container.ginput_container_date input#input_1_6 {
    width: 90%;
}
.ginput_container.ginput_container_textarea textarea#input_1_7 {
    height: 62px;
    width: 100%;
}
.testimonial {
    padding: 4% 0;
}
.testimonial img {
    margin: 0 37%;
}
body .gform_wrapper ul li.gfield {
    margin-top: -11px !important;
    padding-top: 0;
}

.gform_wrapper {
    margin: -7% 0 0 0 !important;
    max-width: 100%;
}
.ginput_container.ginput_container_radio {margin-top: 0 !important;
}
.helping-img {
    margin: 2% -7% 0% -1%;
    padding: 0 0% 1% 0%;
}
section.mobile-form {
    display: none;
}
section.mobile-button {
    display: none;
}
.form-holder.text-center {
    border: 2px solid #fff;
    background: #fff;
    padding: 5% 3% 3% 5%;
    font-weight: bold;
}
.container-fluid1 {
width: 100%;
padding-right: 60px;
padding-left: 60px;
margin-right: auto;
margin-left: auto;
}
 label.gfield_label{
    visibility: hidden !important;
}