/*
Theme Name: Twenty Sixteen
Theme URI: https://wordpress.org/themes/twentysixteen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Sixteen is a modernized take on an ever-popular WordPress layout — the horizontal masthead with an optional right sidebar that works perfectly for blogs and websites. It has custom color options with beautiful default color schemes, a harmonious fluid grid using a mobile-first approach, and impeccable polish in every detail. Twenty Sixteen will make your WordPress look beautiful everywhere.
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, red, white, yellow, dark, light, one-column, two-columns, right-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentysixteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


/**
 * Table of Contents
 *
 * 1.0 - Normalize
 * 2.0 - Genericons
 * 3.0 - Typography
 * 4.0 - Elements
 * 5.0 - Forms
 * 6.0 - Navigation
 *   6.1 - Links
 *   6.2 - Menus
 * 7.0 - Accessibility
 * 8.0 - Alignments
 * 9.0 - Clearings
 * 10.0 - Widgets
 * 11.0 - Content
 *    11.1 - Header
 *    11.2 - Posts and pages
 *    11.3 - Post Formats
 *    11.4 - Comments
 *    11.5 - Sidebar
 *    11.6 - Footer
 * 12.0 - Media
 *    12.1 - Captions
 *    12.2 - Galleries
 * 13.0 - Multisite
 * 14.0 - Media Queries
 *    14.1 - >= 710px
 *    14.2 - >= 783px
 *    14.3 - >= 910px
 *    14.4 - >= 985px
 *    14.5 - >= 1200px
 * 15.0 - Print
 */


/**
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */

 @font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('images/ProximaNovaSemibold.eot');
    src: url('images/ProximaNovaSemibold.eot') format('embedded-opentype'),
         url('images/ProximaNovaSemibold.woff2') format('woff2'),
         url('images/ProximaNovaSemibold.woff') format('woff'),
         url('images/ProximaNovaSemibold.ttf') format('truetype'),
         url('images/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg');
}


html {
	font-family: 'Open Sans', 'Raleway', 'Source Sans Pro', arial, sans-serif;	
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}


/**
 * 2.0 - Genericons
 */

.menu-item-has-children a:after,
.social-navigation a:before,
.dropdown-toggle:after,
.bypostauthor > article .fn:after,
.comment-reply-title small a:before,
.pagination .prev:before,
.pagination .next:before,
.pagination .nav-links:before,
.pagination .nav-links:after,
.search-submit:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: "Genericons";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}


/**
 * 3.0 - Typography
 */

body,
button,
input,
select,
textarea {
	color: #1a1a1a;
	font-family: 'Open Sans', 'Raleway', 'Source Sans Pro', arial, sans-serif;	
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
	margin: 0;
	text-rendering: optimizeLegibility;
}

p {
	margin: 0 0 1.75em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border: 0 solid #1a1a1a;
	border-left-width: 4px;
	color: #686868;
	font-size: 19px;
	font-size: 1.1875rem;
	font-style: italic;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	padding: 0 0 0 1.263157895em;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote p {
	margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote > :last-child {
	margin-bottom: 0;
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: 'Open Sans', 'Raleway', 'Source Sans Pro', arial, sans-serif;	
}

pre {
	border: 1px solid #d1d1d1;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	background-color: #d1d1d1;
	padding: 0.125em 0.25em;
}

abbr,
acronym {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}

mark,
ins {
	background: #007acc;
	color: #fff;
	padding: 0.125em 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}


/**
 * 4.0 - Elements
 */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #1a1a1a;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #d1d1d1;
	border: 0;
	height: 1px;
	margin: 0 0 1.75em;
}

ul,
ol {
	margin: 0 0 1.75em 1.25em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	margin-left: 1.5em;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 0 1.75em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table,
th,
td {
	border: 1px solid #d1d1d1;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #686868;	
	font-family: arial, 'Open Sans', 'Raleway', 'Source Sans Pro', Montserrat, sans-serif;	
}

:-moz-placeholder {
	color: #686868;
	font-family: arial, 'Open Sans', 'Raleway', 'Source Sans Pro', Montserrat, sans-serif;	
}

::-moz-placeholder {
	color: #686868;
	font-family: arial, 'Open Sans', 'Raleway', 'Source Sans Pro', Montserrat, sans-serif;	
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #686868;
	font-family: arial, 'Open Sans', 'Raleway', 'Source Sans Pro', Montserrat, sans-serif;	
}


/**
 * 5.0 - Forms
 */

input {
	line-height: normal;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	background: #d2d2d2;
	border: 0;
	border-radius: 2px;
	color: #fff;
	font-family: 'Open Sans', 'Raleway', 'Source Sans Pro', arial, Montserrat, sans-serif;	
	font-weight: 700;
	letter-spacing: 0.046875em;
	line-height: 1;
	padding: 0.84375em 0.875em 0.78125em;
	text-transform: uppercase;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #d2d2d2;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	background: #fff;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	color: #686868;
	padding: 0.625em 0.4375em;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	background-color: #fff;
	border-color: #d2d2d2;
	color: #797979;
	outline: 0;
}

.post-password-form {
	margin-bottom: 1.75em;
}

.post-password-form label {
	color: #686868;
	display: block;
	font-family: 'Open Sans', 'Raleway', 'Source Sans Pro', arial, Montserrat, sans-serif;	
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 1.75em;
	text-transform: uppercase;
}

.post-password-form input[type="password"] {
	margin-top: 0.4375em;
}

.post-password-form > :last-child {
	margin-bottom: 0;
}

.search-form {
	position: relative;
}

input[type="search"].search-field {
	border-radius: 2px 0 0 2px;
	width: -webkit-calc(100% - 42px);
	width: calc(100% - 42px);
}

.search-submit:before {
	content: "\f400";
	font-size: 24px;
	left: 2px;
	line-height: 42px;
	position: relative;
	width: 40px;
}

.search-submit {
	border-radius: 0 2px 2px 0;
	bottom: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;
}

.logo_contact
{
float : left;
width : 100%;
position : relative;
clear : both;
padding : 10px 0 0 0;
margin : 0 auto;	
}


.telephone
{
 margin: 4% 0 0;
	
}

.telephone span.my-phone
{
   float: left;
    margin: 3% 0 0;
}


.header_call_us
{
	 float: right;
}


.hyderabad_call
{
	float: right; margin: 0px 15px;
}

.hyderabad_call .label_city
{
	float: none; width: 100%; padding: 0px; margin: 0px auto; text-align: left;
}

.hyderabad_call .label_number
{
	width: 100%; float: none; padding: 0px; margin: 0px auto;
}

.chennai_call
{
	float: right;
}

.chennai_call .label_city
{
	float: none; width: 100%; padding: 0px; margin: 0px auto; text-align: left;
}

.chennai_call .label_number
{
	float: none; width: 100%; margin: 0px; padding: 0px;
}

.telephone img
{
	margin : 0 10px 0 0;
	
}


.telephone span a, .telephone p, .telephone p a
{
	font-family: 'Raleway', sans-serif;
	color : #212121;
	font-size : 14px;
	font-style : light;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}


header.site-header
{
background : url("images/Header-bg.png") repeat;	
float : left;
width : 100%;
position : relative;
clear : both;
height : auto;
}


/* Start of form CSS */

.service_right
{
  background: #ffffff none repeat scroll 0 0;
    float: right !important;
    margin: 0;
    max-width: 300px;
    padding: 0 !important;
	-webkit-box-shadow: 3px 1px 4px 0px rgba(96, 138, 186, 0.75);
-moz-box-shadow:    3px 1px 4px 0px rgba(96, 138, 186, 0.75);
box-shadow:         3px 1px 4px 0px rgba(96, 138, 186, 0.75);
border : 1px solid #9eb6c9;
}


.our_services
{
float : left;
width : 100%;
position : relative;
clear : both;
height : auto;
margin : 0 auto;
padding : 1% 0 3% 0;
	
}

#gform_wrapper_1
{
	
margin: 0;
    max-width: 100%;	
}

#gform_wrapper_1 .gform_heading {
    float: left;
    margin: 13px 0 15px;
    text-align: center;
    width: 100%;
}

#gform_wrapper_1 .gform_heading h3 {
color : #025fbc;
font-family: arial, 'Open Sans', sans-serif;	
font-weight : bold;
font-size : 20px;
width: auto;
border-bottom : 0px solid #f6f6f6;

}

#gform_wrapper_1 .gfield_label
{
	display : none;
	
}


#gform_wrapper_1 .gform_body
{
margin: 0 16%;
max-width: 68%;
}



#gform_wrapper_1 ul.gform_fields
{
	
	
}

#gform_wrapper_1 ul#input_1_4 li label#label_1_4_0
{
float : left;
width : auto;	
	
}

#gform_wrapper_1 ul#input_1_4 li label#label_1_4_1
{
float : right;
width : auto;		
}



#gform_wrapper_1 ul.gform_fields li
{
	
	
}

#gform_wrapper_1 ul li#field_1_4 label.gfield_label
{
	display : block !important;
	
}

#gform_wrapper_1 .hidden_label input.large, #gform_wrapper_1 .hidden_label select.large, #gform_wrapper_1 .top_label input.large, #gform_wrapper_1 .top_label select.large, #gform_wrapper_1 .gfield_checkbox li label
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #797979;
    font-family: arial;
    font-size: 12px;
    margin: 0px;
    padding: 2px;
    width: 100%;
	  font-weight: normal;
	  border: 1px solid #dcdcdc;
}

.gform_wrapper .chosen-container, .gform_wrapper input.datepicker.datepicker_with_icon, .gform_wrapper textarea.large
{
border: 1px solid #dcdcdc !important;	
}


input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="number"]:focus, textarea:focus
{
	border: 1px solid #d32523 !important;
box-shadow: 0px 0px 0px 1px #d32523 !important;
	
}

input[type="checkbox"], input[type="radio"] {
    line-height: normal;
    margin: 0 !important;
    padding: 0;
	  font-weight: normal;
	  background-color : #459cff;
}

#gform_wrapper_1 .gfield_radio li
{
float : left;
width: auto;	
  font-weight: normal;
	
}

#gform_wrapper_1 .gfield_radio li label
{
background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
color: #797979;
font-family: arial;
font-size: 12px;
margin: -1px 10px 0 2px;
padding: 0;
width: auto;
 font-weight: normal;
}


body .gform_wrapper label.gfield_label + div.ginput_container
{
   margin: 0 0 9px !important;
    padding: 2px 2px 2px 0px;	
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    background: white none repeat scroll 0 0 !important;
    border: 0 none !important;
    margin: 0 auto !important;
    padding: 0 !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required .ginput_container {
   border-bottom : 0.5px solid #d32523 !important;
}

.gform_wrapper .chosen-container-single .chosen-single
{
	
	 background: white none repeat scroll 0 0 !important;
    border: 0px solid #aaa !important;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    box-shadow: 0 0 0 #fff inset, 0 0 0 rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0 0 0 #fff inset, 0 0 0 rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0 0 0 #fff inset, 0 0 0 rgba(0, 0, 0, 0.1) !important;
    -o-box-shadow: 0 0 0 #fff inset, 0 0 0 rgba(0, 0, 0, 0.1) !important;
    color: #797979 !important;
    display: block;
    height: 23px;
    line-height: 18px !important;
    overflow: hidden;
    padding: 2px !important;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
	
}

.gform_wrapper .gform_footer
{
clear: both;
    float: left;
    margin: 0 auto !important;
    max-width: 100%;
    padding: 0 0 10% !important;
    text-align: center;
    width: 100%;	
}

.validation_error, .gfield_description.validation_message
{
	display : none;
}

#gform_submit_button_1
{
 background: #1a7cea none repeat scroll 0 0;
    border: 1px solid #0e5099;
    float: none;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 68%;
}

.textcenter
{
 display: inline-block;
    float: left;
    margin: 0 auto;
    padding: 0 0 1%;
    text-align: center;
    width: 100%;
}


.textcenter img
{
	text-align : center;
}


.gform_wrapper input.datepicker.datepicker_with_icon
{
 background: white none repeat scroll 0 0 !important;
    float: left;
    margin: 0 0 9px !important;
    padding: 2px 2px 2px 0 !important;
    width: 80% !important;
}

.gform_wrapper textarea.large {
  margin: 0 0 9px;
    max-height: 50px;
    padding: 2px 2px 2px 2px;
    width: 100% !important;
	background: white none repeat scroll 0 0 !important;
}

#gform_wrapper_1 img.ui-datepicker-trigger {
  display: inline-block;
    float: right;
    height: 30px !important;
    margin: -2px 0 0;
    padding: 0;
    text-align: right;
    width: 30px !important;
}


#gform_wrapper_1 .chosen-container-single .chosen-single span
{
background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
color: #797979;
font-family: arial;
font-size: 12px;
margin: 0;
padding: 0;
  font-weight: normal;
}

.gform_wrapper .chosen-container .chosen-results li
{
color: #797979;
font-family: arial;
font-size: 12px;	
margin : 0 0 5px 0;
}


*::-moz-placeholder {
  color: #686868;
	font-family: arial, 'Open Sans', 'Raleway', 'Source Sans Pro', Montserrat, sans-serif;	
    opacity: 1;
	font-size: 12px;
	  font-weight: normal;
}

*::-webkit-placeholder {
   color: #686868;
	font-family: arial, 'Open Sans', 'Raleway', 'Source Sans Pro', Montserrat, sans-serif;	
    opacity: 1;
	font-size: 12px;
	  font-weight: normal;
}


*::-o-placeholder {
   color: #686868;
	font-family: arial, 'Open Sans', 'Raleway', 'Source Sans Pro', Montserrat, sans-serif;	
    opacity: 1;
	font-size: 12px;
	  font-weight: normal;
}


#gform_wrapper_1 .gfield_label
{	 color: #797979;
	 font-family: arial,sans-serif;
	 font-size: 12px;
	   font-weight: normal;
}


/* End of form CSS */

.footer_rights {

background : #37404a;
float : left;
width : 100%;
position : relative;
clear : both;
	
}


.footer_rights p a, .footer_rights p {
font-family: 'Open Sans', sans-serif;	
color : #c1c1c1;
}

.foo_left p
{
font-size : 13px;	
}


.foo_right p, .foo_right p a
{
font-size : 14px;	
}


.footer_rights ul li
{
display: inline-block;
list-style-type: none;
text-align: center;
}


.footer_rights p
{
padding : 30px 0 10px;	
}

.footer_rights ul
{	
    margin: 0;
    padding: 21px 0 0;
}

.app_services
{
float: left;
margin: 0 auto;
padding: 6% 0 0;
position: relative;
width: 100%;	
}

.apps_right img
{
float : right;
}


.apps_symbol
{
text-align : center;
 padding: 4% 0 7%;
}


.apps_symbol img
{
display : inline-block;	
text-align : center;
}

.apps_captions
{
	text-align : center;
}

.apps_captions p
{
	font-family: 'Open Sans', sans-serif;
	font-weight : 600;	
	text-align : center;
	float : left;
	 position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
	font-size : 30px;
	color : #6a6a6a;
	 padding-bottom: 3%;
}



.apps_captions p:after {
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin-left: 45%;
    margin-right: 45%;
    position: absolute;
    width: 10%;
  border-bottom:1px solid #888888;
  /* outline: 1px solid #e1e1e1; */
}

.apps_captions .border_bootm
{
	

}


.apps_desc
{
	text-align : center;
}

.apps_desc p
{
color : #999999;
font-family: 'Source Sans Pro', sans-serif;
font-size :14px;
font-style : light;	
line-height : 24px;
	
}

.apps_left
{
background : #ffffff;
-webkit-box-shadow: 4px 3px 2px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow:    4px 3px 2px 0px rgba(0, 0, 0, 0.1);
box-shadow:         4px 3px 2px 0px rgba(0, 0, 0, 0.1);
}

.apps_more
{
	   float: left;
    margin: 0 auto;
    padding: 15% 0 14%;
    position: relative;
    text-align: center;
    width: 100%;
}
.apps_more p
{
    color: #ffffff;
    float: left;
    position: relative;
    width: 100%;
}

.apps_more p a
{
background: #f23e2c none repeat scroll 0 0;
color: #ffffff;
padding: 15px 30px;
text-align: center;
width: auto;
-webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.25);
-moz-box-shadow:    2px 1px 5px 0px rgba(0, 0, 0, 0.25);
box-shadow:         2px 1px 5px 0px rgba(0, 0, 0, 0.25);
font-family: 'Open Sans', sans-serif;	
font-weight : bold;
font-size : 15px;
}

.app_services_block
{
	background : #f4f5f9;
	 padding: 6% 0 4%;
}

.our_branch_block
{
	background : url("images/Branches-bg.png");
	width  : 100%;
	height : auto;
	float : left;
	position : relative;
}

.branch_services
{
 clear: both;
    float: left;
    padding: 5% 0 1%;
    position: relative;
    width: 100%;
	
}

.panel-body
{
	 clear: both;
    float: left;
    list-style-type: none;
    margin: 0 auto;
    padding: 0 !important;
    position: relative;
    width: 100%;
}

.branch_services .panel {
    background: transparent none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 4px;
    margin-bottom: 20px;
	box-shadow : 0 0px 0px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow : 0 0px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow : 0 0px 0px rgba(0, 0, 0, 0.05);
	-o-box-shadow : 0 0px 0px rgba(0, 0, 0, 0.05);
}

.branch_services .panel-default > .panel-heading {
    background: transparent none repeat scroll 0 0 !important;
    border: 0 none !important;
    color: #333;
	padding : 0;
}

.branch_services .panel-group {
    margin: 0 auto;
}

.branch_services .panel-body
{
	 border: 0 none !important;
}

.branch_services h4.panel-title a
{
font-family: 'Open Sans', sans-serif;	
color : #f23e2c;	
font-weight : bold;
font-size : 16px;
font-antialiased : smoothing;
}

ul.main_branch
{
 clear: both;
    float: left;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}

ul.main_branch li
{
font-family: 'Open Sans', sans-serif;	
color : #f23e2c;	
font-weight : bold;
font-size : 16px;
font-antialiased : smoothing;
}

ul.main_branch li a 
{
	font-family: 'Open Sans', sans-serif;	
color : #f23e2c;	
font-weight : bold;
font-size : 16px;
font-antialiased : smoothing;
}

ul.subr_branch
{
 clear: both;
    float: left;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}

ul.subr_branch li
{
background : rgba(0, 0, 0, 0) url("images/locate.png") no-repeat scroll left 7px;	
color : #464a4e;
font-family: 'Open Sans', sans-serif;		
font-weight : 500;
font-size : 14px;
font-antialiased : smoothing;
float : left;
margin: 0 auto 0 28%;
width: 100%;
}

ul.subr_branch li a
{
color : #464a4e;
font-family: 'Open Sans', sans-serif;		
font-weight : 500;
font-size : 14px;
font-antialiased : smoothing;
float : left;
margin: 0 0 0 5%;
width: auto;
}



.branch_right
{
	
}
.branch_right img
{
	border : 11px solid #a7a6a4;
}

.branch_title
{
 float: left;
    padding: 1% 0 0;
    position: relative;
    width: 100%;
}

.branch_title h1
{
  background: #1a7cea;
    color: #ffffff;
    float: left;
	font-family: 'Open Sans', sans-serif;	
    font-antialiased : smoothing;
    font-size: 30px;
	padding : 25px 0;
    font-weight: bold;
    text-align: center;
    width: 100%;
	margin : -15px auto;
	 z-index: 1;
	
}

.branch_top_icon
{
 display: inline-block;
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
	z-index: 1000;
}

.branch_top_icon img
{
	   display: inline-block;
    float: none;
    text-align: center;
}

.branch_title:before
{
/* 	
	background : url("images/branch-icon.png")no-repeat;
	bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin-left: 45%;
    margin-right: 45%;
    position: absolute;
    width: 10%; */
  
}

.service_paras
{
	float : left;
	width : 100%;
	position : relative;
	clear : both;
	padding :1% 0 0;
	margin : 0 auto;
}

.service_icons
{
	float : left;
	width : 100%;
	position : relative;
	clear : both;
	padding :0;
	margin : 0 auto;
}

.headings
{
	text-transform : uppercase;
	color : #333333;
	font-family: 'Open Sans', 'Raleway', 'Source Sans Pro', arial, sans-serif;
	font-weight : bold;
	font-size : 21px;
}

.captions
{
	
	color : #333333;
	font-family: 'Open Sans', 'Raleway', 'Source Sans Pro', arial, sans-serif;
	font-weight : normal;
	font-size : 15px;
	padding : 1% 0 0 0;
}


/* Start of menu css */

.service_menus
{
float : left;
width: 100%;
position : relative;
clear : both;
padding :0;
margin : 0 auto;	
}

.row-1
{
	float: left; width: 100%; position: relative; clear: both;
}

.row-2
{
	float: left; width: 100%; position: relative; clear: both;
}

.row-3
{
	float: left; width: 100%; position: relative; clear: both;
}

 .diamond
 {
       background: #fff none repeat scroll 0 0;
    height: 140px;
	float : right;
     margin: 8% 8% 0 0;
    position: relative;
    transform: rotate(45deg);
    width: 140px;
	border: 2px solid #6dd5ed;
    box-shadow: 0 0 1px 0 #6dd5ed;
    }
	
.diamond-second
 {
       background: #fff none repeat scroll 0 0;
    height: 140px;
	float : right;
     margin: 8% 8% 0 0;
    position: relative;
    transform: rotate(45deg);
    width: 140px;
	border: 2px solid #6dd5ed;
    box-shadow: 0 0 1px 0 #6dd5ed;
    }
	
    .diamond-inner
	{     
/*       text-align:center;
      transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
      -webkit-transform:rotate(-45deg);
      position:absolute;
      top:22px;
      left:5px; 
	  display: inline-block;*/
	      
    float: none;
    margin-top: 30%;
    position: relative;
    text-align: center;
    transform: rotate(-45deg);
    }
	
	.diamond-second-inner
	{     
/*       text-align:center;
      transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
      -webkit-transform:rotate(-45deg);
      position:absolute;
      top:22px;
      left:5px; */
	    
    float: none;
    margin-top: 30%;
    position: relative;
    text-align: center;
    transform: rotate(-45deg);
    }
	
	.icons_img
	{
	display: inline-block;
    float: none;
    position: relative;
    text-align: center;
    width: 100%;
	}
	
	.icons_caps
	{
  display: inline-block;
    float: none;
    position: relative;
    text-align: center;
    width: 100%;
	}
	
	.express
	{
		
	}
	
	.express_sub
	{
		
	}
	
	.express_img
	{
		
	}
	
	.express_caps
	{
		
	}
	
	.valentines
	{
		
	}
	
	.valentines_sub
	{
		
	}
	
	.valentines_img
	{
		
	}
	
	.valentines_caps
	{
		
	}
	
	.diamond-second.event
	{
	   float: right;
    margin-left: 0;
    margin-top: -3.7rem;
	}
	
	.diamond-second.homes
	{
	  float: right;
    margin-left: 0rem;
    margin-top: -3.7rem;
	}
	
	.diamond-second.womens
	{
	margin-right: 17rem;
    margin-top: -3.8rem;
	}
	
	.diamond-second.master
	{
	float: left;
    margin-left: 25%;
    margin-right: 0;
    margin-top: -4.2%;
	}
	
	.icons_caps, .icons_caps a
	{
		font-family: 'ProximaNovaSemibold';
		color : #474747;
		font-size : 10.28px;
		text-transform : uppercase;
	}
	
	
/* End of menu css */




.modal {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}

.modal-content {
    border-radius: 0 !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 1) !important;
}



.modal-header {
    border: 0 none !important;
}

.modal-header .close {
    color: black;
    cursor: pointer;
    font-size: 1.55rem;
    font-weight: 700;
    line-height: 1;
    opacity: 1;
    position: absolute;
    right: 1%;
    top: 1%;
}

.modal-content .title_holder {
    float: none;
    margin: 0 auto;
    padding: 0;
}


.modal-content .title_holder h1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    margin: 0 auto;
    padding: 0;
    text-align: center;
	font-family: 'ProximaNovaSemibold';
	font-size : 20px;
	text-transform: uppercase;
}

.modal-body ul
{
padding : 0;	
 list-style-type: none;
}

.modal-body p, .modal-body ul li
{
color: #505050;
   font-family: 'Open Sans', 'Raleway', 'Source Sans Pro', arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin: 0 auto;
    padding: 0 0 10px 6%;
    position: relative;
    text-align: justify;
    width: 100%;
	background : url("images/hand-points.png")no-repeat left -2px;
	 list-style-type: none;
}


.modal.in .modal-dialog {
	   color: #025fbc;
    background: white none repeat scroll 0 0;
    border: 1px solid #666;
    box-shadow: 0 0 0 rgba(0, 0, 0, 1) !important;
    padding: 0.5em;
}

.modal-header {    
    padding: 5px 0 0;
}


.page-id-7 .service_paras, .page-id-7 .service_right
{
	display : none;
}

.page-id-7 .service_paras.thankyou
{
	display : block !important;
}

.home .service_paras
{
	
	display : block !important;
}

.home .service_paras.thankyou, .page-id-87 .service_paras.thankyou 
{
	display : none !important;
}


.service_header
{
	  clear: none;
    float: left;
    left: -3rem;
    margin: 0 auto;
    position: absolute;
    top: 6rem;
    width: auto;
}

.service_header h1
{
	color: rgb(51, 51, 51);
    float: left;   
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
	 margin: 0 auto;
    padding: 0 0 10%;
	font-family: 'Open Sans', 'Raleway', 'Source Sans Pro', arial, sans-serif;	
	  background: rgba(0, 0, 0, 0) url("images/Arrow.png") no-repeat scroll center 41px;
}

@media only screen and ( max-width : 767px)
{
	
	
.footer_rights p a, .footer_rights p
{
margin: 0 auto;
padding: 10px 0;
text-align: center;
}	

.footer_rights ul {
    margin: 0;
    padding: 0;
}

.apps_right img
{
 display: inline-block;
    float: none;
    text-align: center;
}

.apps_right
{
 display: inline-block;
    float: none;
    text-align: center;
}

.branch_right img
{
margin : 3% 0;
}

ul.subr_branch li
{
	 margin: 0 auto;
}

.service_right
{
max-width: 100% !important;
width: 100% !important;
padding: 0 !important;	
}


.diamond
{
	clear  :both;
	background: #fff none repeat scroll 0 0;
    border: 2px solid #6dd5ed;
    box-shadow: 0 0 1px 0 #6dd5ed;
    float: none;
    height: 120px;
    margin: 22% auto !important;
    padding: 0 !important;
    position: relative;
    transform: rotate(45deg);
    width: 120px;
}

.diamond-second
{
	clear  :both;
	background: #fff none repeat scroll 0 0;
    border: 2px solid #6dd5ed;
    box-shadow: 0 0 1px 0 #6dd5ed;
    float: none !important;
    height: 120px;
    margin: 22% auto 0 !important;
    padding: 0 !important;
    position: relative;
    transform: rotate(45deg);
    width: 120px;
}

.row-2 {
    clear: both;
    float: none;
    position: relative;
    width: 100%;
}

.row-3 {
    clear: both;
    float: none;
    position: relative;
    width: 100%;
}

.navbar-default {
    background : none !important;
    border : 1x solid gray;
	padding :0;
	margin : 0 auto;
	
    
}

.navbar-header
{
	background: white none repeat scroll 0 0 ;
	  padding-bottom: 6%;
}

header.site-header
{
	background-repeat : repeat;
}

.logo_contact {
    padding: 30% 0 0;
    text-align: center;
}

.navbar-toggle
{
	  

}

.navbar-collapse
{
background: white none repeat scroll 0 0 !important;
border : 1x solid gray;
}

.modal-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modal-body p, .modal-body ul li, .modal-body p a, .modal-body ul li a, .modal-body ol li
{
	 padding-left:10%;
}

ul.navbar-nav li a.page-scroll
{ 
color: #464a4e;
float: left;
font-family: 'Open Sans', 'Raleway', 'Source Sans Pro', arial, sans-serif;	
font-size: 14px;
line-height: 40px;
margin: 0 auto;
padding: 0 1% 0 5%;
width: 100%;
}

ul.navbar-nav li {
  float: left;
    margin: 0 0 0 10px;
    padding: 9% 0 0 10%;
    text-align: left;
    width: 100%;
}

ul.navbar-nav li.expcheck {
    background: rgba(0, 0, 0, 0) url("images/Express-Checku.png") no-repeat scroll left 26px;
}

ul.navbar-nav li.valsday {
    background: rgba(0, 0, 0, 0) url("images/Valentines-Day.png") no-repeat scroll left 26px;
}

ul.navbar-nav li.fibre {
    background: rgba(0, 0, 0, 0) url("images/Brown-Rice.png") no-repeat scroll left 26px;
	  margin: 0 0 0 7%;
    padding: 9% 0 0 5%;
}

ul.navbar-nav li.eveclinic {
    background: rgba(0, 0, 0, 0) url("images/Event-Clinic.png") no-repeat scroll left 26px;
}

ul.navbar-nav li.homeserv {
    background: rgba(0, 0, 0, 0) url("images/Home-Services.png") no-repeat scroll left 26px;
}

ul.navbar-nav li.womday {
    background: rgba(0, 0, 0, 0) url("images/Womens-day.png") no-repeat scroll left 26px;
}

ul.navbar-nav li.shopping {
    background: rgba(0, 0, 0, 0) url("images/Diabetic-shop.png") no-repeat scroll left 26px;
}

ul.navbar-nav li.masscheck {
    background: rgba(0, 0, 0, 0) url("images/Master-Checkup.png") no-repeat scroll left 26px;
}


ul.navbar-nav li.discount {
    background: rgba(0, 0, 0, 0) url("http://drmohans.com/book-an-appointment/wp-content/uploads/2016/10/Discount.png") no-repeat scroll left 26px;
}

.navbar-nav {
    margin: 0 auto !important;
    padding: 0 !important;
}

.logo_contact img {
    display: inline-block;
    float: none;
    text-align: center;
}

.quality
{
	 float: none !important;
    text-align: center !important;
    width: 100% !important;
}

.telephone {
    float: none !important;
    text-align: center !important;
    width: 100% !important;
}

.chennai_call {
    float: left;
    width: auto;
}

.hyderabad_call {
    float: left;
    margin: 0 15px;
    width: auto;
}

.header_call_us {
    float: left;
    width: auto;
}

.telephone span.my-phone {
    float: left;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: auto;
}

.service_header
 {
	 display : none;
}

.branch_services
{
	 padding: 10% 0 1%;
}


}


@media only screen and ( min-width : 768px) and ( max-width : 1200px)
{

	
.diamond
	{
   
    float: right ;
    height: 90px !important;
    margin: 8% 10% 0 0;   
    width: 90px;

}

.diamond-second
{
	   
    float: rightt;
    height: 90px!important;
    margin: 8% 8% 0 0;    
    width: 90px !important;
}

.diamond-inner {
    float: none;
    margin-top: 5%;
    position: relative;    
    transform: rotate(-45deg);
}

.diamond-second-inner {

    margin-top: 19%;
 
}

.diamond-second.womens {
  margin-right: 10.5rem !important;
    margin-top: -2rem !important;
}

.diamond-second.homes {
   float: right !important;
    margin-right: 4rem !important;
    margin-top: -2rem !important;
}

.diamond-second.event {
      float: left !important;
    margin-left: -6.5rem !important;
    margin-top: -2.5rem !important;
}

.diamond-second.master {
 float: left !important;
    margin-left: 0.2rem !important;
    margin-right: 0rem !important;
    margin-top: -2.7rem !important;
}

.icons_caps, .icons_caps a {
    color: #474747;   
    font-size: 10px;
    text-transform: capitalize;
}

.service_icons {
    clear: both;
    float: right;
    margin: 0% -4% 0 auto;
    padding: 0;
    position: relative;
    width: 400px;
}

.service_header {
    clear: both;
    float: left;
    left: 0;
    margin: 0 auto;
    padding: 3% 0 0;
    position: relative;
    top: 0;
    width: 100%;
}

.service_menus {
  
    margin: -9% auto 0;
 
}

.service_left
{
	padding : 0 !important;
}


}


.gform_wrapper input.datepicker.datepicker_with_icon, .gform_wrapper .chosen-container, .gform_wrapper input.datepicker.datepicker_with_icon, .gform_wrapper textarea.large
{
	   font-size: 12px !important;
	   color: #686868 !important;	
	font-family: arial, 'Open Sans', 'Raleway', 'Source Sans Pro', Montserrat, sans-serif !important;	
}

.custom_icons
{
	
}

.custom_icons span
{
	color : #F23E2C;
	font-size : 23px !important;
}

.diamond-second.master { display : none !important; }

.gform_wrapper ul.gform_fields li.gfield {padding-right: 0px !important;}

#choice_1_4_0 { float: left; }