@font-face {
    font-family: 'Myriadpro-Bold';
    src: url(../fonts/myriadpro-bold.otf);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.otf') format('opentype'), url('../fonts/Roboto-Regular#Roboto-Regular') format('svg');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.otf') format('opentype'), url('../fonts/Roboto-Medium#Roboto-Medium') format('svg');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold.woff') format('woff'), url('../fonts/roboto-bold.ttf') format('truetype'), url('../fonts/roboto-bold.otf') format('opentype'), url('../fonts/roboto-bold#roboto-bold') format('svg'), url('../fonts/roboto-bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light.woff') format('woff'), url('../fonts/roboto-light.ttf') format('truetype'), url('../fonts/roboto-light.otf') format('opentype'), url('../fonts/roboto-light#roboto-light') format('svg');
}
header .carousel-caption {
    right: auto;
    left: 13%;
    padding-bottom: 30px;
    top: 24%;
    bottom: auto;
    text-align: left;
    text-shadow: none;
}
/*testi*/
#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #e84a64;
    border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
/*testi*/

/*header*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: none;
    color: #f7941d;
}
.navbar-collapse.collapse {
    display: block
}
header {
    position: relative;
}
/* .banner {
    padding-top: 88px;
} */
.banner img {
    width: 100%;
}
.carousel-caption h2 {
    font-family: Roboto-Bold;
    color: #173d52;
    font-size: 38px;
}
.carousel-caption p {
    font-family: Roboto-Regular;
    color: #173d52;
    font-size: 22px;
    line-height: 34px;
}
.box1 {
    background: linear-gradient(to right,
        #f7941d 0,
        #f7941d 33.3%,
        #fff 33.3%,
        #fff 66.6%,
        #8dc63f 66.6%,
        #8dc63f)no-repeat;
    background-size: 100% 4px;
    width: 200px;
    height: 10px;
    margin-top: 30px;
}
.about-img .box1 {
    background-size: 100% 12px;
    float: right;
    margin-top: 0;
}
/*nav*/
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #eb3138;
}
header .navbar {
    /* margin-bottom: 0; */
    min-height: 90px;
    /* position: absolute; */
    z-index: 99;
    width: 100%;
    margin-bottom: 0;
}
.navbar-brand {
    padding-top: 0;
}
.navbar-collapse {
    padding-top: 20px;
}
.navbar-nav {
    padding-left: 12px;
}
.navbar-default .navbar-nav > li > a {
    font-family: Roboto-Medium;
    color: #173d52;
    font-size: 15px;
}
.navbar-default .navbar-right > li > a {
    font-family: Myriadpro-Bold;
    color: #1e90b3;
    font-size: 15px;
}
.navbar-right li img {
    padding-right: 8px;
}
/*nav*/

/*header*/
.about-bg {
    background: #1e90b3;
    padding: 80px 0px;
}
.about-bg h2 {
    font-family: Roboto-Bold;
    color: #fff;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 14px;
}
.about-bg h2 + hr,
.tc-bg h2 + hr {
    border-top: 3px solid #f7941d;
    width: 115px;
    margin: 0;
}
.about-text h5 {
    font-family: Roboto-Medium;
    color: #fff;
    font-size: 24px;
    margin: 5px 0px;
}
.about-text p {
    font-family: Roboto-Regular;
    color: #fff;
    font-size: 15px;
    margin-top: 18px;
}

.about-text h5 + p {
    font-family: Roboto-Light;
    color: #fff;
    font-size: 24px;
    margin-top: 0;
}

.about-text {
    padding-left: 30px;
}

.about-img,
.offer-text {
    padding-left: 20px;
}

.offer-bg {
    padding: 80px 0;
}

.offer-bg h2,
.tc-bg h2 {
    font-family: Roboto-Bold;
    color: #173d52;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 10px;
}

.offer-bg h2 + hr {
    border-top: 3px solid #fff;
    width: 115px;
    margin: 0;
}

.offer-text h2 + hr {
    border-top: 3px solid #eb3138;
}

.offer-text h3 {
    font-family: Roboto-Light;
    color: #19566f;
    font-size: 24px;
    margin-bottom: 22px;
}

.offer-text p {
    font-family: Roboto-Regular;
    color: #666666;
    font-size: 15px;
    line-height: 23px;
}

.offer-text h4 {
    font-family: Roboto-Bold;
    color: #666666;
    font-size: 16px;
    margin: 24px 0 20px;
}

.offer-text ul li {
    font-family: Roboto-Regular;
    color: #666666;
    font-size: 15px;
    line-height: 25px;
}

.offer-text ul {
    padding-left: 18px;
}
.nri-program {
    background: #eb3138;
    padding: 50px 30px 50px 40px;
    margin: 66px 0px 0 40px;
    color: #fff;
}

.nri-program h2 {
    color: #fff;
}

.nri-program ul {
    padding-left: 0;
    margin-top: 20px;
    list-style: none;

}

.nri-program ul li {
    font-family: Roboto-Regular;
    color: #fff;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 14px;
    background: url('../img/bullet-icon.png') no-repeat left center;
    /*    margin: 3px 0 3px 0;*/
    padding-left: 32px;
}

.works-bg {
    background: #e8f4f7;
    padding: 50px 0 70px;
}

.works-bg .row {
    padding-left: 20px;
}

.works-bg h2 {
    text-align: center;
    font-family: Roboto-Bold;
    color: #173d52;
    font-size: 26px;
    margin-top: 0;
}

.works-bg h2 + hr {
    border: 0;
    border-top: 1px solid #eb3138;
    margin: 28px 20px 20px 34px;
}

.steps {
    position: relative;
    margin: 20px 0;
}

.step-three span {
    color: #547588;
    font-size: 13px;
}

.step-two:before,
.step-three:before,
.step-four:before {
    content: url('../img/right-arrow.png');
    position: absolute;
    left: -70px;
    top: 42px;
}


.step-five:before,
.step-six:before {
    content: url('../img/left-arrow.png');
    position: absolute;
    left: -70px;
    top: 42px;
}

.steps h1 {
    font-family: Roboto-Bold;
    color: #eb3138;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px 20px;
}

.steps h4 {
    font-family: Roboto-Bold;
    color: #173d52;
    font-size: 18px;
}

.steps p {
    font-family: Roboto-Regular;
    color: #666666;
    font-size: 14px;
}

.contact-bg {
    background: #19566f;
    padding: 48px 0 60px;
    text-align: center;
    color: #fff;
}

.contact-bg h2 {
    font-family: Roboto-Medium;
    font-size: 31px;
    margin-top: 8px;
}

.contact-bg p {
    font-family: Roboto-Light;
    font-size: 21px;
    margin-bottom: 25px;
}

.contact-bg span,
.contact-bg a {
    font-family: Roboto-Medium;
    font-size: 20px;
    color: #eb3138;
}

.contact-bg span img {
    margin-top: -7px;
    margin-right: 5px;
}

.contact-bg span {
    margin-right: 30px;
    line-height: 35px;
}

.contact-border {
    margin-top: 0;
    margin-bottom: 0px;
    border: 0;
    border-top: 10px solid #eb3138;
    width: 58%;
}

.testimonial {
    padding: 50px 0;
    /* min-height: 520px; */
}
.testimonial span{
    font-family: Roboto-Bold;
    color: #173d52;
    font-size: 18px;
}

.quote {
    text-align: center;
    margin-bottom: 20px;
}

.testimonial h3 {
    font-family: Roboto-Light;
    font-size: 34px;
    color: #19566f;
    text-align: center;
    margin: 10px 0 18px;
}

.testimonial p {
    font-family: Roboto-Regular;
    font-size: 15px;
    color: #333333;
    line-height: 23px;
    margin-bottom: 40px;
}

.testimonial .carousel-control.left,
.testimonial .carousel-control.right {
    background: none;
}
.testimonial .carousel-control {
    top: 50px;
    height: 40px;
}
.testimonial .carousel {
    padding: 0 150px;
}

footer {
    background: #d6d6d6;
    text-align: center;
    padding: 20px 20px 10px;
}

footer p {
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #00000096;
}

footer p a {
    color: #173d52;
}

.login-bt a {
    border: 2px solid #f7941d;
    padding: 5px 10px !important;
    margin-top: 6px;
}

.ban-1 {
    background: url(../img/banner1.jpg);
    height: 526px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ban-3 {
    background: url(../img/banner3.jpg);
    height: 526px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ban-2 {
    background: url(../img/banner2.jpg);
    height: 526px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ban-4{
    background: url(../img/banner_4.jpg);
    height: 526px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header .carousel-indicators .active {
    background-color: #173d52;
}

header .carousel-indicators li {
    background-color: #9a999c;
}
.call-cont img{
    width: 20px;
    height: 20px;
}
/* payment */

.payment-radio {
    padding-right: 50px;
}

.payment-banner img {
    width: 100%;
}

.payment-banner {
    margin-bottom: 50px;
}

.paypal-bg {
    margin: 40px 40px;
}

.payment-bg .form-bg .input-group {
    margin-bottom: 20px;
}

.payment-bg .tab {
    text-align: center;
}

.payment-bg {
    font-family: Roboto-Regular;
    font-size: 16px;
    padding: 0px 0 50px 0;
    color: #666666;
}

.payment-bg .form-bg a {
    color: #f7941d;
}

.payment-bgc p {
    line-height: 23px;
}

.payment-bg .panel-heading h4 {
    text-transform: uppercase;
}

.payment-bg .panel-heading h4:hover a,
.payment-bg .panel-heading h4:active a,
.payment-bg .panel-heading h4 a:focus {
    text-decoration: none;
}

.payment-bg .form-bg .radio {
    display: block;
    margin-bottom: 20px;
}

.payment-bg .form-bg h4 {
    margin: 20px 0 8px;
    font-family: Roboto-Bold;
    color: #173d52;
    font-size: 22px;
}

.payment-bg .form-bg h4 + hr {
    border-top: 3px solid #f7941d;
    width: 115px;
    margin: 0;
    margin-bottom: 20px;
}

.payment-bg .form-bg .radio label {
    width: 100%;
    margin-bottom: 8px;
}

.payment-bg .form-bg .radio label span {
    float: right;
    font-weight: bold;
}

.payment-bg .form-bg .checkbox {
    width: 100%;
    margin-bottom: 20px;
}

.blog-btn .btn, .pay-btn .btn{
    background: #eb3138;
    color: #fff;
    font-weight: bold;
    padding: 6px 30px;
    border-radius: 0;
}

.blog-btn .btn:hover, .pay-btn .btn:hover {
    background: none;
    color: #eb3138;
    border: 1px solid #eb3138;
    transition: 0.3s ease-in;
}
.pay-btn{
    margin-top: 20px;
}
.works-bg .pay-btn{
   text-align: center;
}
.notes li a {
    color: #f7941d;
    font-weight: none;
}

/* terms */
.tc-bg {
    font-family: Roboto-Regular;
    color: #666666;
    font-size: 15px;
    line-height: 23px;
}

.tc-bg h2 {
    text-align: center;
}

.tc-bg h2 + hr {
    margin: auto;
    margin-bottom: 30px;
}

.tc-bg h4 {
    font-family: Roboto-Bold;
    color: #173d52;
    font-size: 18px;
}

.tc-bg ul {
    margin-bottom: 30px;
}

.marginer {
    margin-bottom: 30px;
}

/* terms */
.faq-sec {
    float: left;
    width: 100%;
    position: relative
}

.faq-sec .faq {
    max-width: 75%;
    margin: 0 auto
}

.faq-sec .fquestion {
    font-size: 18px;
    color: #ff0066
}

.faq-sec .fquestion a.fqlink {
    color: #000;
    outline: none !important
}

.faq-sec .fquestion a p {
    margin: 0 0 0 30px;
}

.faq-sec .fanswer a {
    color: #7db940;
}

.faq-sec .fanswer a:hover {
    text-decoration: underline
}

.faq-sec .fquestion a.fqlink:before {
    content: '+';
    background: #f7941d;
    position: relative;
    display: inline-block;
    left: 0;
    top: 7px;
    float: right;
    color: #fff;
    font-size: 24px;
    border-radius: 14px;
    line-height: 28px;
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 15px;
    margin-left: 10px;
}

.faq-sec .active .fquestion a.fqlink:before {
    content: '-';
    background: #f7941d;
    color: #fff;
}

.faq-sec .fanswer {
    color: #333;
    padding: 20px 0 20px 0;
    line-height: 26px;
    float: left;
    width: 100%
}

.faq-sec .fanswer p {
    margin: 0 0 17px
}

.faq-sec .panel {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    padding: 27px 0 25px;
    background: none;
    float: left;
    width: 100%;
}

.number {
    color: #000;
    float: left;
    width: 30px;
}

input[type=number].form-control::-webkit-inner-spin-button,
input[type=number].form-control::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.steps img {float: left;}




@media(min-width:1601px) {
    header .carousel-caption {
        left: 19%;
    }
}

@media(min-width:1300px) {
    .container {
        width: 1260px;
    }
}

@media(max-width:1200px) {
    br {
        display: none;
    }

    .about-text {
        padding-left: 10px;
    }

    .banner br {
        display: block;
    }
}

@media(max-width:991px) {
    .testimonial .carousel{
        padding: 0 100px;
    }
    .paypal-bg {
        margin: 30px 0;
    }

    header .navbar {
        z-index: auto;
    }

    header .navbar-brand {
        position: absolute;
        z-index: 99;
    }
    .testimonial p {
        text-align: justify;
    }

    /* .banner {
        padding-top: 90px;
    } */
    /*    menu at sm*/
    .navbar-header {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none;
    }

    .collapse.navbar-collapse.open {
        display: block !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    /*    menu at sm*/
    /*
    header .carousel-caption {
        left: 3%;
        top: 5%;
    }
*/
    .carousel-caption h2 {
        font-size: 24px;
    }

    .carousel-caption p {
        font-size: 16px;
        line-height: 26px;
    }

    .about-img .box1 {
        margin-right: 254px;
    }

    .about-text {
        margin-top: 40px;
    }

    .nri-program {
        margin: 50px 20px 0 20px;
    }

    .offer-bg {
        padding: 50px 0;
    }

    .step-two:before,
    .step-three:before,
    .step-four:before,
    .step-five:before,
    .step-six:before {
        display: none;
    }

    .steps {
        margin: 30px 30px 0 30px;
    }

    .testimonial .carousel {
        margin: 0 auto;
    }

    .login-bt a {
      padding: 10px 15px;
        margin-top: 10px;
        width: 100px;
        margin-left: 12px;
    }

    .navbar-nav {
        padding-left: 23px;
    }

    .navbar-brand > img {
        height: 125px;
    }

    .navbar-default .navbar-toggle {
        margin: 26px;
    }

    .ban-1,
    .ban-2,
    .ban-3,
    .ban-4 {
        height: 400px;
    }
}

@media(max-width:767px) {
    .contact-bg span{
        margin-right: 0;
    }
    .payment-banner img {
        height: 150px;
    }

    .payment-banner {
        margin-bottom: 20px;
    }

    .box1 {
        margin-top: 20px;
    }

    .works-bg .row {
        padding: 0 13px;
    }

    .about-bg {
        padding: 50px 0px;
    }

    .about-img,
    .offer-text {
        padding: 10px 0;
    }

    .about-img .box1 {
        float: left;
        margin: 0;
    }

    .nri-program {
        margin: 10px;
        padding: 18px;
    }

    .steps {
        margin: 10px 0;
    }

    .testimonial h3 {
        font-size: 28px;
    }

    .contact-bg p {
        font-size: 16px;
    }

    .ban-1,
    .ban-2,
    .ban-3,
    .ban-4 {
        height: 200px;  
        background-position: right center;
    }

    .testimonial .carousel-control img {
        width: 14px;
    }
    .carousel-caption p {
        font-family: Roboto-Bold;
    }

    .about-bg {
        margin-top: 220px;
    }

    header .carousel-inner {
        overflow: visible;
    }

    header .carousel-caption {
        background: #f1f1ef;
        padding: 16px;
        left: 0%;
        top: 96%;
        width: 100%;
        height: 250px;
    }

    .carousel-caption h2 {
        font-size: 21px;
        margin-top: 5px;
    }

    .carousel-caption p {
        font-size: 14px;
    }

    header .carousel-caption br {
        display: none;
    }

    .contact-bg .visible-xs {
        display: block;
    }

    .contact-bg {
        padding: 48px 20px 60px;
    }

    .contact-bg span,
    .contact-bg a {
        font-size: 14px;
    }

    .faq-sec .fquestion a.fqlink::before {
        margin-right: 0px;
    }
}


@media(min-width:1200px) and (max-width:1400px) {
    header .carousel-caption {
        left: 3%;
        top: 19%;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    header .carousel-caption {
        left: 3%;
        top: 19%;
    }

    .carousel-caption h2 {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 18px;
        line-height: 34px;
    }

    .box1 {
        margin-top: 15px;
    }

    .step-two:before,
    .step-three:before {
        left: -44px;
    }

    .step-four:before,
    .step-five:before {
        left: -44px;
    }

    .step-six h4 br,
    .contact-bg br {
        display: block;
    }

    .nav > li > a {
        padding: 10px 7px;
    }

    .navbar-nav {
        padding-left: 0;
    }

    .login-bt a {
        margin-top: 3px;
    }

    .works-bg h4 br {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .contact-bg br {
        display: block;
    }
    .payment-bg {
        padding: 0px 0 50px 0;
    }

    #slide-navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 280px;
        height: 100% !important;
        background-color: #fff;
        overflow: auto;
    }

    .menu-overlay {
        display: none;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* IE7 & 8 */
        position: fixed;
        right: 0;
        top: 0;
        z-index: 49;
    }
}


@media(max-width:500px) {
    .pay-btn{
        text-align: center;
    }
    .banner br {
        display: none;
    }
    .testimonial .carousel {
        padding: 0 40px;
    }
    /*
    header .carousel-caption {
        left: 3%;
        top: 20%;
    }
*/
}

@media(max-width:321px) {
    .navbar-default .navbar-toggle {
        margin: 26px 14px;
    }
}
