.padd-top-bottom-70{
	padding-bottom:70px !important;
	padding-top:70px !important;
}
.speciality-video iframe.spec-main-video{
	height:350px;
}
.cust_name{
	text-transform:Capitalize;
	font-weight:bold;
}
.tab-content td{
    padding:10px;
    border:1px solid #fff;
}
.p-tb-50{
	padding-top:50px;
	padding-bottom:50px;
}
.btn-international-patients-1{
	    min-width: 325px;
	padding: 50px 0;
    margin: auto;
    margin-top: 30px;
    background-image: url(images/keys-3.jpg) !important;
	background-size:100% 100%;
}
.btn-international-patients-2{
	min-width: 325px;
	padding: 50px 0;
    margin: auto;
	margin-top: 30px;
    background-image: url(images/keys-2.jpg) !important;
	background-size:100% 100%;
}
.btn-international-patients-3{
	padding: 50px 0;
	min-width: 325px;
    margin: auto;
	margin-top: 30px;
    background-image: url(images/keys-1.jpg) !important;
	background-size:100% 100%;
}
.international-patients-icon-label{
	font-weight:lighter;
	color:#292929;
}
.ov-holder{
	vertical-align: middle;
    margin: 0 auto;
    background: rgba(238,36,36,0.8);
}
.our-vision-content{
	padding:30px 7px !important; 
    color: #fff;
    min-height: 275px;
    display: flex;
    align-items: center;
}
.client-prev, .client-next{
	cursor:pointer;
}
.research-banner-caption.carousel-caption{
    top: 52%;
}
.blog-content{
	padding: 47px 44px !important;
}
/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 33.33%; /* IE10 */
    flex: 33.33%;
    max-width: 33.33%;
}

.column2 .row, .column .row{
	margin-left:0;
	margin-right:0;
	
}
.column2 {
    -ms-flex: 66%; /* IE10 */
    flex: 66%;
    max-width: 66%;
}

.column2 img, .column img {
	width:100% !important;
    vertical-align: middle;
}

.fs-24{
	font-size:24px
}
.growth-gal-text{
	padding:27px !important
}
.lh32{
	line-height:32px;
}
.gallerytxt2-sub{
	    font-size: 23px;
}
.gallery-txt-2{
	top: 58px;
    left: 34px;
    font-size: 30px;
}
.gallery-txt-1, .gallery-txt-2{position:absolute;}
.gallery-txt-1{  
	right: 10px;
    bottom: 35px;
	left:20px;
}
.bg-red{
    background: rgb(238,36,36);
}
span.line:after{
	content: '';
    width: 200px;
    height: 2px;
    background: rgb(238,36,36);
    position: absolute;
	bottom:0;
}
.div-first-growth{	   

	background-image: url("images/trophy.png") !important;
	background-repeat: no-repeat;
	background-position: top center;
	padding-top:220px;
	/* position: absolute;*/
    font-size: 44px;
	position:relative;
    text-align: center;
}
.pos-relative{	
	position:relative;
}
.growth-acc-heading{
	border: 1px solid #fff;
	text-align:left;
}
.btn-acc.collapsed{
	background-image: url(images/red-drop-down-closed.png) !important;
    background-color: #484953 !important;
    background-position: 98% 50% !important;
}
.card{
    margin-bottom: 14px;	
}
button.btn-acc:focus{
	border:1px solid #fff;
}
.p-50{
	padding: 40px 50px !important;
}
.btn-acc{
	font-size:22px;
	font-family: 'HelveticaNeueLTStd-Bd';
	width:100%;
	padding: 16px 32px;
	text-align:left;
	background: url("images/red-drop-down-opened.png") no-repeat !important;
	background-color:#484953 !important;
	background-position:98% 50% !important;
}
.precision-banner-caption.carousel-caption{
	top:50%;
}
.bg-light-blue{
	background:#e9eaf3;
}
.p-btn{
	padding:13px 5% !important;
}
.cp_row{
	margin-top:40px;
}
.mt-30{
	margin-top:30px;
}
.bg-grey-cloud{
	background: url("images/forest-bg.jpg") no-repeat;
	background-size:cover;
}
.bg-light-grey{
	background:#f4f4f9;
}
.title-4l{
	font-weight:lighter;
}
.m-tb-auto{
	margin-top:auto;
	margin-bottom:auto;
}
.cp-services-keys{
	min-height:112px !important;
}
.cp-ins-form .gform_wrapper{
	margin: 0 !important;
	margin-bottom: 16px !important;
}
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select{
	background: url(images/select-dropdown.png) no-repeat;
    background-position: 97% 50%;
    padding: 0 10px;
    background-color: #fff;
    overflow: hidden;
    height: 31px;
    padding-left: 20px !important;
    border: 1px solid #000;
    position: relative;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-family: 'HelveticaNeueLTStd-Roman';
    width: 100%;
}
.cp-ins-form .gform_wrapper .top_label .gfield_label{
	display:none !important;
}
.br-red{
	border-right: 1px solid rgb(238,36,36);
}
.bl-red{
	border-left: 1px solid rgb(238,36,36);
}
.ins-banner-a{
	margin-top:10px;	
}
.ins-banner-a a{
	padding: 10px 5px 5px 0;
    /* border-right: 2px solid rgb(238,36,36); */
    border-bottom: 2px solid rgb(238,36,36);
    text-transform: uppercase;
}
.title-40k{
	color: rgb(41, 41, 41);
	font-size: 12px;
	font-family: 'HelveticaNeueLTStd-Lt';
	font-weight:lighter;
}
.abt-us-services-offered-li label{
	    margin-top: 10px;
	width:128px;
}
.abt-us-services-offered-li{
	display:inline-block;
	padding:0 25px;
	vertical-align:top;
}
.resource-text{
	font-family:'HelveticaNeueLTStd-Bd';
	color:#484953;
	display:block;
	font-size:22px;
	margin-top:10px;
}
.section-resource img{box-shadow:0px 0px 1px 0px #8a8181;}
.bg-dark-blue{
	background:#484953;
}
.color-red{
	color: rgb(238,36,36);
}
.color-41{
	color: rgb(41,41,41);
}
.spec-next, .spec-prev{cursor:pointer;}
.border-rl{
	border-right: 2px solid rgb(238,36,36);
	border-left: 2px solid rgb(238,36,36);
}
.border-r{
	border-right: 2px solid rgb(238,36,36);
}
.margin-btm30{
	margin-bottom:30px;
}
.lheight35{
	line-height:35px;
}
.bordernone{
	border:none !important;
}
.btn-primary-speciality:hover{
	background-color:  #fff;
    color:#ed1515;
}
.btn-primary-speciality{
	min-width:151px;
	background-color: #ed1515;
	border:1px solid #ed1515;
    color: #fff;
	font-family:'HelveticaNeueLTStd-Bd';
    text-transform: uppercase;
    padding: 16px 6%;/*16px 8%;*/
    margin-right: 10px;
}
.btn-a{
	font-size:18px;
	min-width:151px;
	background-color: #ed1515;
	border:1px solid #ed1515;
    color: #fff;
    padding: 8px 25px;/*16px 8%;*/
	font-family: 'HelveticaNeueLTStd-Bd';
}
.fs-30{
	font-size:30px
}
.fs-12{
	font-size:12px
}
.fs-48{
	font-size:48px
}
.paddtop20{
	padding-top:20px;
}
.treatments p{
	margin-bottom:0 !important;
}
.treatments p.content{
	margin-bottom:1.5em !important;
	letter-spacing: 0px;
	line-height: 30px;
	color: rgb(41,41,41);
}
.pos-absoute{
	position:absolute;
}
.footcare{
	font-size: 72px;
    line-height: 72px !important;
    margin-bottom: 33px !important;
}
.spec-banner-caption.carousel-caption{
    top: 42%;
}
.video-banner-caption.carousel-caption {
	top: 54%;
	bottom:0;
}
.bg-lgrey{
	background:#edeef2;
}
p.research-intro-content{
	margin:27px 0 45px 0;
}
.research-intro-box{
	font-size:24px;
	color:#fff;
   padding: 44px 15%;
}
.btn-primary-wider:hover{
	background: #fff;
    color: #e23c30;
}
.btn-primary-wider{
    color: #fff;
    background: #e23c30;
    font-size: 18px;
    padding: 8px 52px;
    font-weight: lighter;
	margin-top:10px;
}
.subtitle-p{
	font-size: 24px;
	margin-bottom:10px;
	color: rgb(29,46,52);
	text-align:center;
}
.research-intro h1{
	padding-top:0 !important
}
.research-intro-content{
	line-height: 30px;
color: rgb(41,41,41);
font-size: 18px;
}
.research-banner-caption.carousel-caption h3{
	line-height:30px !important;
}
.carousel-caption .header-foot-clinic{
    width: 186px;
    margin-bottom: 5px;
    margin-top: -19px;
	color:#ed1616;
    margin-left: auto;
    margin-right: auto;
    background: white;
}
.carousel-caption .box-content{
    margin: 0 12px 10px;
    line-height: 42px;
}
.carousel-caption .header-speciality{
	border:1px solid #ed1616;
	color:rgb(29,46,52);
}
.list-specialities.last{
	border-right:none;
}
.bg-dark-grey{
	background:#484953;
}
.div-border{
	border:1px solid #fff;
}
.spec-banner-caption h1{
	font-size: 48px;
	line-height: 40px;
	color: rgb(29,46,52);
}
.spec-banner-caption .banner-content{
	font-size: 48px;
	line-height: 40px;
	color: rgb(29,46,52);
	font-family: 'HelveticaNeueLTStd-Lt';
}
.spec-banner-caption h1{
	font-size: 48px;
	line-height: 40px;
	color: rgb(29,46,52);
}
.tab-section-title{
	margin-bottom:0;
}
.list-specialities a:hover, .list-specialities a.active {
	color:#000;
	border-bottom: 2px solid rgb(238,36,36);
}
select.select_box {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.select_box{
	background: url("images/drop-down-arrow.png") no-repeat;
	background-position:97% 50%;
	background-color:#fff;
    width: 100%;
    overflow: hidden;
    height: 33px;
	padding-left:10px;
    border: 1px solid #000;
    position: relative;
    border-radius: 0;
}
.page:not(.home) #content {
    padding-bottom:0 !important;
}
.shops .locate-center, .shops .defeat-diabetes, .shops .diabetes-products { background : rgb(72, 73, 83); padding :10px; }
.shops .locate-center h2 { background : url("images/research.png") no-repeat center bottom;  min-height: 175px;}
.shops .defeat-diabetes h2 { background : url("images/tracker-app.png") no-repeat center bottom;  min-height: 175px;}
.shops .diabetes-products h2 { background : url("images/shoe-icon.png") no-repeat center bottom;  min-height: 124px;}
.colorfff{
	color:#fff ! important;
}
.fw-ligher{
    font-weight: lighter;
}
.lh52{
    line-height: 52px;
}
.bg-none{
	background:none !important;
}
.margin-bm-1em{
	margin-bottom:1em;
}
.padd0{
	padding:0 !important;
}
a.active.show{
	color:#000;
}
.banner{
	width:100%;
}
.list-specialities{
	font-weight: bold;
    /*border-right: 2px solid rgb(238,36,36);*/
    padding: 0 10px;
    font-size: 24px;
    letter-spacing: 1px;
    display: inline-block;
    line-height: 27px;
    margin-bottom: 51px;
}

.treatments .primary-ul{
	padding-left:25px !important;
}

.treatments .title{
	letter-spacing: 1px;
    color: rgb(72,73,83);
    font-weight: bold;
    /* line-height: 70px; */
    margin-bottom: 3px !important;
    margin-top: 22px;
}

.color000{
	color:#000;
}
.pb-20{
	    padding-bottom: 20px !important;
}
.marginauto{
	margin:auto !important;
}
.speciality-slider{
	margin-top:30px;
}
.pl-18{
	padding-left:18px !important;
}
.fs-54{
	font-size:54px !important;
}
.fs-24{
	font-size:24px !important;
}
.bg-primary{
	margin-top:30px;
}
.margin-lr-auto{
	margin-left:auto;
	margin-right:auto;
}
/*Video page CSS*/

.videos-leftbar{
	padding: 47px 70px !important;
}

.video-section-title{
	font-size: 30px;
	color: rgb(0,0,0);
	text-transform:uppercase;
	font-family: 'HelveticaNeueLTStd-Th';
}
.featured-post-title{
	font-family: 'HelveticaNeueLTStd-Th';
	font-size: 30px;
	text-transform:uppercase;
    padding-left: 23px;
}	
.video_div{
	margin-bottom:40px;
}
.video_div iframe{
	margin-bottom:1em;
}
.leftbar-videopage{
    padding-bottom: 60px !important;
    padding-top: 47px;
}
.gform_wrapper ul.gfield_checkbox, .gform_wrapper ul.gfield_radio, body .gform_wrapper ul li.field_description_below div.ginput_container_checkbox, body .gform_wrapper ul li.field_description_below div.ginput_container_radio{
	margin-top:0 !important;
}
.book_appintment.sidebar-form{
    width: 89%;
	float:none;
	padding:3%;
}
.sidebar-form h1{
	margin-bottom:0;
}
.gravity_holder-sidebar{
	
}
.video-title{
	    padding-top: 1em;
	font-size:18px;
	font-family: 'HelveticaNeueLTStd-Lt';
	color:rgb(41,41,41);
	font-weight: lighter;
}
/*home care page css*/
.homecare-banner-caption.carousel-caption{
	top: 39%;
    bottom: 0;
}
.btn-primary-wider{
	
}
.homecare-banner-caption.carousel-caption h3{
	line-height: 30px;
}
.homecare-services-offered-li{
	display:inline-block;
    padding: 31px 50px;
    padding-bottom: 0 !important;
}
.red-subtitle, .sevices-subtitle{ 
	font-family: 'HelveticaNeueLTStd-Th';
	font-size:30px;
	color:#1d2e34;
	font-weight:bold;
	padding-bottom: 10px;
}
.vision-title{
	font-size: 42px;
	margin-bottom: 43px;
	color: rgb(238,36,36);
	font-weight:lighter;
}
.m-b0{
	margin-bottom:0 !important
}
.pt-0{
	padding-top:0;
}
.book_appintment.darkbg{
	padding:0 3%;
}
.red-title, .services-section-title{ 
	line-height: 52px;
	font-size:38px;
	color:#e23c30; 
	font-family: 'HelveticaNeueLTStd-Md';
	font-weight:normal;
	text-align:center;
	margin-bottom:0;
}
.service-title{
	margin-top:14px;
	font-family: 'HelveticaNeueLTStd-Md';
	font-weight:normal;
}
.color1d2e34{
	color:#1d2e34;
}
.abt-link a{
	color:#fff;
	margin:0 10px;
}
.abt-link-ul li:first-child{
	margin-left:0 !important;
}
.abt-link-ul li{
	margin-top:10px;
	margin-left: 3%;
	font-family:'HelveticaNeueLTStd-Roman';
	/*background:#ed1616;*/
	display:inline-block;
	/*min-width:230px;*/
	text-align:center;
	padding:10px 0;
}
.abt-link-ul{
	text-align:center;
	list-style:none;
}
.mb-45{
	margin-bottom:45px
}
.mt-12{
	margin-top: 12px !important;
}
.gform_wrapper#gform_wrapper_7{
	margin-top:0 !important;
}
.abt-banner-section {
	text-transform:uppercase;
	font-size:22px;
	color:#484953; 
}
.p-tb-30{
	padding:30px 0;
}
.newsletter-blog .gform_wrapper .top_label #field_7_1 .gfield_label{
	display:none !important;
}
.single-post .banner{
	margin-bottom:30px;
}
.single-post .blog-content-holder h1, .single-post .blog-content-holder h5{
	line-height:24px;
	font-size:22px;
	color:#292929;
	font-family:'HelveticaNeueLTStd-Bd';
	text-transform: none;
}
.blog-content-holder {
	padding-top:30px;
}
.single-post p{
	line-height:24px;
	font-size:18px;
}
.single-post .blog-content-holder ul, .treatments ul, .primary-ul{
	padding-left:13px;
	list-style-image: url("images/list-style.png") !important;
	font-size:18px !important;
}
.thanyou-title-p{
	font-size:22px;
	font-family: 'HelveticaNeueLTStd-Bd';
}
.thanyou-subtitletitle{
	font-size:22px;
	font-family: 'HelveticaNeueLTStd-Bd';
}
.thankyou-banner-caption.carousel-caption h1, .thankyou-banner-caption.carousel-caption h3{
	color:#fff !important;
}
.thankyou-banner-caption.carousel-caption{
	font-size: 48px;
	line-height: 40px;
}
.screening-banner-caption.carousel-caption{
	top:47%;
	left:9%;
}
.lh30{
	line-height: 30px;
}
.lh44{
	line-height: 44px !important;
}
.abt-bg{
	background-attachment: fixed;
	background: url("images/abt-bg_02.jpg") no-repeat;
	background-size:cover;
}
.aboutus-banner-caption.carousel-caption{
	top:45%;
}
.about-us-videos iframe{
	margin-bottom: 0 !important;
}
.floating-btns {
    position: fixed;
    right: -10px;
    z-index: 99;
    top: 28%;
}
.section-speciality-form .book_appintment{
	padding:0 3% !important
}
.aboutus-banner-caption.carousel-caption{
	right: 120px;
	left: auto;
}
.rec-title{
	margin-bottom: 64px !important;
}
.rec-year{
	text-align: center;
   /* border-right: 2px solid rgb(238,36,36);*/
	color:#282828;
	font-weight:lighter;
}
.fs-32{
	font-size:32px;
}
.cur-pointer{
	cursor:pointer;
}
.sub-video img{
	cursor:pointer;
}
.sub-video{
	display:inline-block;
	position:relative;	
}
.youtube-play-button{
	top:40%;
	position:absolute;
	left:50%;
	right:auto;
}
.bottom-red:after {
    content: '';
    width: 90%;
    height: 1px;
    background: red;
    margin: 27px auto;
}

.bottom-red:last-child{
height: 0;
    width: 0;
}
@media(min-width:1024px){
	.recognition-banner-caption.carousel-caption{
		left: 11%;
		right: auto;
		top: 51%;
	}
}

@media(min-width:765px){
	.cp-loc{
		padding-left:30px;
	}
	.ip-p{
		padding:0 105px;
	}
	.btn-international-patients-2{
		margin: auto 20px;
	}
	.abt-us-p{
		width: 88%;
		margin: 0 auto 53px auto;
	}
	 .md-p-l-40px{
		 padding-left:60px !important;
	 }
}

@media(max-width:1024px){
	.spec-banner-caption.carousel-caption {
		top: 26%;
	}
}
@media only screen and (max-width: 1200px) and (min-width: 990px) {
		.homecare-services-offered-li{
			 padding: 31px 25px !important;
		}
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767px) {
.careers .careers-seperator:nth-child(2):before{
    content: '';
    height: 0;
    width: 0;
}
.careers .careers-seperator:nth-child(2):after{
    content: '';
    height:0;
    width: 0;
}
.careers-seperator{
margin-bottom:15px;
text-align:center
}
	.services-section-title{ 
		line-height: 22px !important;
	}
	.btn-acc {
		font-size: 15px;
		padding: 16px 41px 16px 18px;
	}
	.rec-year{
		text-align: center;
	}
	.single-post .banner{
		margin-bottom:20px;
	}
	.growth-banner-caption.carousel-caption{
		top:26% !important;
	}
	.growth-banner-caption.carousel-caption h3{
		line-height: 26px !important;
		font-size: 20px !important;
	}
	.growth-banner-caption.carousel-caption h1{
		line-height: 26px !important;
		font-size: 28px;
	}
	.video-banner-caption.carousel-caption h1{
		line-height: 6px !important;
	}
	.research-banner-caption.carousel-caption{
		top: 18% !important;
	}
	.research-banner-caption.carousel-caption h3 {
		line-height: 30px !important;
		font-size: 26px;
	}
	.research-banner-caption.carousel-caption h1 {
		font-size: 35px;
	}
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .column2 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
@media(max-width:765px){
	.single-post .blog-content-holder h5{
		font-size:20px;
	}
	.screening-banner-caption.carousel-caption{
		top:45% !important;
	}
	.csr-banner-caption.carousel-caption h3 {
		line-height: 19px !important;
	}
	.csr-banner-caption.carousel-caption{
		top: 15% !important;
	}
	.fs-54{
		font-size:34px !important;
	}
	.div-first-growth {
		font-size: 22px;
	}
	.precision-banner-caption.carousel-caption{
		top:17% !important;
	}
	.precision-banner-caption.carousel-caption h1{
		font-size : 37px !important;
	}
	.precision-banner-caption.carousel-caption h3{
		font-size : 26px !important;
	}
	.about-us-videos{
		text-align:center;
	}
	.aboutus-banner-caption.carousel-caption{
		top:14% !important;
		right:auto;
		left:3%;
	}
	.aboutus-banner-caption.carousel-caption.partners{
		top:24% !important;
	}
	.recognition-banner-caption.carousel-caption h3{
		font-size: 23px !important;
		line-height: 25px !important;		
	}
	.recognition-banner-caption.carousel-caption h1{
		font-size: 30px !important;
	}
	.aboutus-banner-caption.carousel-caption h1{
		/*line-height: 13px !important;*/
		font-size:30px !important;
	}
	.aboutus-banner-caption.carousel-caption h3{
		/*line-height: 16px !important;*/
		font-size:25px !important;
	}
	.thanyou-title-p{
		font-size:20px;
	}
	.primary-ul{
		font-size:16px;
	}
	.thanyou-subtitletitle{
		margin-top:5px;
		font-size:20px;
	}
	.thankyou-banner-caption.carousel-caption{
		/*top:42% !important;*/
		position:relative;
		color:#000 !important;
	}
	.thankyou-banner-caption.carousel-caption h3 {
		line-height: 22px !important;
		color:#000 !important;
		padding-bottom:0;
	}
	.thankyou-banner-caption.carousel-caption h1 {
		padding-top:10px;
		line-height: 22px !important;
		font-size:22px !important;
		color:#000 !important;
	}
	.sm-disp-none{
		display:none;
	}
	.resource-holder{
		margin:10px 0;
	}
	p.research-intro-content{font-size:15px; line-height:21px;margin-top:10px;}
	.subtitle-p{
		font-size:18px;
		margin-bottom:0 !important
	}
	.research-intro-box{
		margin-top:20px;
	    font-size: 21px;
		line-height: 26px;
		color: #fff;
		padding: 37px 3%;
	}
	.screening-banner-caption.carousel-caption, .homecare-banner-caption.carousel-caption{
		top: 18% !important;
	}
	.screening-banner-caption.carousel-caption h3{
		line-height: 27px !important;
		font-size: 25px;
	}
	.screening-banner-caption.carousel-caption h1{
		line-height: 34px !important;
		font-size: 30px;
	}
	.homecare-banner-caption.carousel-caption h3{
		line-height: 27px !important;
		font-size: 25px;
	}
	.homecare-banner-caption.carousel-caption h1{
		line-height: 34px !important;
		font-size: 30px;
	}
	.red-title, .services-section-title{
		line-height: 34px;
		font-size: 36px;
	}
	 .speciality-video iframe{  height: 257px !important; } 
	.red-subtitle, .sevices-subtitle{
		font-size: 21px;
		margin-bottom:10px;
	}
	.video-banner-caption.carousel-caption {
		top: 24% !important;
	}
	.book_appintment.sidebar-form{
		padding-top:3% !important;
	}
	.book_appintment.sidebar-form{
		width:100%
	}
	.book_appintment{
		padding-top:12px !important;
	}
	.padd-top-bottom-70{
		padding-bottom:40px !important;
		padding-top:40px !important;
	}
	.list-specialities{
		padding:10px;
		line-height:27px;
	} 
	/*.list-specialities.active a,.list-specialities a.active{ 
		color:#fff !important;
	}
	.list-specialities.active,.list-specialities a.active { 
		padding:10px;
		background :rgb(238,36,36);
	}*/
	#masthead{
		position:relative !important;
	}
	.spec-banner-caption.carousel-caption {
		top: 26%;
	}
}
@media(max-width:618px){
	.fs-32{
		font-size:27px;
	}
	.fs-54{
		font-size:45px;
	}
	.fs-24{
		font-size:19px;
	}
	.video-title{
		padding-top:0 !important
	}
	.video-section-title {
		font-size: 22px;
	}
	.video_div{
		margin-bottom:20px;
	}
	.videos-leftbar {
		padding: 47px 47px !important;
	}
	.blog-content{
		padding: 40px 20px !important;
	}
}
@media(max-width:320px){
	.red-title, .services-section-title{
		font-size:29px;
	}
	.video-banner-caption.carousel-caption {
		top: 24% !important;
	}
	.xs-margin-top10{
		margin-top:10px;
	}
	.blog-content{
		padding: 23px 10px !important;
	}
}
@media(max-width:641px){
	
	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit]{
		margin-bottom:0 !important;
	}
	.speciality-video img{
		/*height: 273px !important;*/
		margin-top:10px;
	}
}
@media(max-width:769px){
	.spec-banner-caption.carousel-caption h3{
		font-size: 28px;		
	}
	.spec-banner-caption.carousel-caption h1{
		font-size: 30px;		
	}
	.corporate-banner-caption.carousel-caption{
		top:14% !important;
		left:6% !important;
	}
	.corporate-banner-caption.carousel-caption h1{
		    line-height: 34px !important;
			font-size: 26px !important;
	}
	.corporate-banner-caption.carousel-caption h3{
		line-height: 29px !important;
		font-size: 21px !important;
	}
	.ins-banner-a a{
	    font-size: 14px;
	}
	.ins-banner-a{
		text-align:left
	}
	.abt-banner-section{
		margin-top:10px;
	}
	.abt-link-ul li:first-child{
		margin-left:4% !important;
	}
	.abt-us-services-offered-li label{
		margin-left:auto;
		margin-right:auto;
		margin-bottom:15px;
	}
	.abt-us-services-offered-li{
		display:block;
	}
	.sm-w-100p{
		width:100%;
	}
	.vision-title{
		font-size:32px;
		line-height:37px;
	}
	.gravity_holder .gform_footer .gform_button{
		padding:2% 0 !important;
	}
	.home_videos iframe {
		height: 273px !important;
	}
	.btn-primary-speciality{
		margin-top: 10px;
	}
	.blogs .blogs_article{
		padding-bottom: 34px;
	}
	.no-guttersright{
		padding-left:0;
	}
	.treatments .content{
		padding-top:10px;
	}
	.treatments .title{
		line-height:25px;
		
	}
	.lheight35{
		line-height:25px;
	}
	.fs-14 {font-size : 12px !important; }
	.fs-15 {font-size : 13px !important; }
	.fs-16 {font-size : 14px !important; }
	.fs-18 {font-size : 16px !important; }
	.fs-21 {font-size : 18px !important; }
	.fs-22 {font-size : 20px !important; }
	.fs-24 {font-size : 22px !important; }
	.fs-26 {font-size : 22px !important; }
	.fs-36 {font-size : 30px !important; }
	.fs-40 {font-size : 35px !important; }
	.fs-42 {font-size : 35px !important; }
	.fs-46 {font-size : 35px !important; }
	.fs-60 {font-size : 50px !important; }
	.xs-txt-left{
		text-align:left !important;
	}
	.list-specialities{
		line-height: 20px;
		font-size: 18px;
		display: block;
		border-right:none;
		border-left:none;
	}
	.fs-42 {
		font-size: 35px;
		line-height: 48px;
	}
	.list-specialities{
		margin-bottom: 10px;
	}
	.fs-46 {
		font-size: 39px;
		line-height: 50px;
	}
}
@media(min-width:574px){	

.video-banner-caption.carousel-caption{
	top:54% !important
}
.testimonial.bl-red {
	border-left:2px solid rgb(238,36,36); 
}
.testimonial.br-red {
	border-right:2px solid rgb(238,36,36); 
}
.testimonial_text1{
	text-align:justify;
	padding-left:50px !important;
}
.testimonial_text2{
	text-align:justify;
	padding-right:50px !important;
}
	.rec-year:after{
		right: 32px;
		content: "";
		top: 5px;
		position: absolute;
		height: 27px;
		width: 2px;
		background: rgb(238,36,36);
	}
}
@media(max-width:574px){
	
	.spec-banner-caption.carousel-caption h3{
		font-size: 25px;		
	}
	.spec-banner-caption.carousel-caption h1{
		font-size: 30px;		
	}
.video-banner-caption.carousel-caption{
	top:24% !important
}
	
.testimonial_text1{
	text-align:center;
}
.testimonial_text2{
	text-align:center;
}
.cust_location{
	padding-bottom:10px;
}
/* 	.growth-banner-caption.carousel-caption {
		top: 46% !important;
	} */
	.recognition-banner-caption.carousel-caption{
	    top: 21% !important;
	}/* 
	.recognition-banner-caption.carousel-caption h3{
		line-height: 10px !important;
	} */
	.sm-center{
		text-align:center
	}
	.sm-pl-15{
		padding-left:15px !important;
	}
	.rec-title{
		margin-bottom: 30px !important;
		font-size:30px;
	}
	.vision-title{
		margin-bottom:34px;
	}
	.our-vision-content{
		min-height:1px;
	}
	.ov-holder{
		margin-top:15px !important;
	}
	.sevices-subtitle{
		padding-bottom:0 !important;
	}
	.p-50{
		padding: 25px !important;
	}
	.br-red{
		border-right:none;
	}
	.mt-xs-40{
		margin-top:40px;
	}
	.cp-services-keys{
		min-height:auto;
		margin-bottom:10px;
		margin-top:20px;
	}
	.cp_row{
		margin-top:0;
	}
}
@media(max-width:425px){
	.div-first-growth {
		margin-bottom:30px;
		font-size: 22px;
	}
	span.line:after{
		width:97px;
	}
	.ins-banner-a a{
		font-size: 11px;
		padding: 6px 0px 2px 0;
	}
	
	.abt-link-ul li, .abt-link-ul li:first-child{
		margin-left:0 !important;
	}
	.lh30{
		line-height:25px;
	}
	.abt-us-services-offered-li label{
		margin-left:auto;
		margin-right:auto;
		margin-bottom:15px;
	}
	.abt-us-services-offered-li{
		display:block;
	}
	.thankyou-banner-caption.carousel-caption{
		top:45% !important;
	}
	.thankyou-banner-caption.carousel-caption h3{
	}
	.footer_last{
	    margin-bottom: 83px;
	}
	.copyrights p{
		margin-bottom:0 !important;
	}
	.speciality-intro p{
		text-align:left
	}
	.spec-banner-caption.carousel-caption{
		    top: 15% !important;
	}
	.videos-leftbar {
		padding: 35px !important;
	}
	
	.spec-banner-caption.carousel-caption h3{
		font-size: 25px;	
	}
	.spec-banner-caption.carousel-caption h1{
		font-size: 30px;		
	}
}

@media (max-width: 375px){
	.videos-leftbar {
		padding: 35px 20px !important;
	}
}